<li>
	<div class="cIdxImgWrap">
		<%= profile_img fashion_trendz_user, size: 50 %>
	</div>
	<%= link_to fashion_trendz_user.name, fashion_trendz_user %>

	<% if (curr_user_admin? && !curr_user?(fashion_trendz_user)) %>
		| <%= link_to "Delete", fashion_trendz_user, method: :delete, data: { confirm: "You usure?" } %>
	<% end %>
</li>