<% provide(:title, "Edit User") %>

<div class="container-fluid cUpProf"><!-- bootstrap -->

  <h1>Update Profile</h1>

<div class="row"><!-- bootstrap -->

  <div class="col-xs-12 col-sm-5 col-sm-offset-8">
    <div class="gravatar_edit">
      <!--  user profile image: in helpers -->
      <%= profile_img @fashion_trendz_user %></br>
      <a href="http://gravatar.com/emails" target="_blank"><small>change</small></a>
    </div>
  </div>

  <div class="col-xs-11 col-sm-8">
    <div class="cUpForm">
    <!-- editing user -->
      <%= form_for(@fashion_trendz_user) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <%= f.label :name %>
        <%= f.text_field :name, class: 'cNm form-control' %>

        <%= f.label :email %>
        <%= f.email_field :email, class: 'cEm form-control' %>

        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>

        <%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>

        <%= f.submit "Save changes", class: "btn btn-primary" %>
      <% end %>

    </div> <!-- end of cUpForm -->
  </div>

</div><!-- bootstrap row-->
</div><!-- bootstrap container-fluid -->
