<% provide(:title, "All Fashion Trendz Blog Users") %>
<!-- bootstrap -->
<div class="container-fluid cIdxWrap">

		<h1>Fahion Trendz Blog Users</h1>

<!-- bootstrap -->
<div class="row">
<!-- bootstrap -->
	<div class="col-xs-12">

			<div class="cIdx">

		<!-- will_paginate gem -->
			<%= will_paginate %>

			<ul class="users">

			<!-- display all users.
						partial lives in same folder -->
				<%= render @fashion_trendz_users %>
				
			</ul>
			<%= will_paginate %>
		</div>
<!-- bootstrap -->		
	</div>

<!-- bootstrap -->
</div>
<!-- bootstrap -->
</div>