<% provide(:title, "Sign Up!") %>

<!-- bootstrap -->
<div class="container-fluid">
<!-- bootstrap -->
 <div class="row cRowSignUpCont">

    <div class="col-xs-12">
      <div class="cDSignUp">
        <h1>Sign up!</h1>
        <p>Sign Up Now! for a Fashion Trendz Account. Keep track of your purchases, favorite posts, make a wishlist, etc...</p>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="cFormSignUp">
        <!-- new user. controller: fashion_trendz_user_controller -->
        <%= form_for(@fashion_trendz_user) do |f| %>
          
          <%= render 'shared/error_messages', object: f.object %>

          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control form-control2 cSignUpField' %>

          <%= f.label :email %>
          <%= f.email_field :email, class: 'form-control form-control2 cSignUpField' %>

          <%= f.label :password %>
          <%= f.password_field :password, class: 'form-control form-control2 cSignUpField' %>

          <%= f.label :password_confirmation, "Confirmation" %>
          <%= f.password_field :password_confirmation, class: 'form-control form-control2 cSignUpField' %>

          <%= f.submit "Create Acc!", class: "btn btn-sm btn-primary btn-success cSignUpBtn" %>
        <% end %>
      </div>
    </div>

  <!-- bootstrap -->
  </div>
<!-- bootstrap -->
</div>
