<% provide(:title, "Trendz User #{@fashion_trendz_user.name}'s Account") %>

<!-- bootstrap -->
<div class="row">
	<div id="iUsrProfWrapper">

		<h4 class="cProfH4"><%= @fashion_trendz_user.name %>'s Account</h4>
		
		<div class='col-xs-11 col-sm-4 col-md-4 col-lg-4'>
		<div class="cUsrProfCont">
			<div class="cAccInfoWrapper">
				<div class='cUsrInfoCont'>

				<!-- partial lives in shared views/shared -->
					<%= render partial: 'shared/fashion_trendz_user_info' %>

				<!-- end of user_info -->
				</div>
			<!-- end of cAccInfoWrap -->
			</div>	
		<!-- cUsrProfCont -->
		</div>

		<!-- bootstrap -->		
		</div>
	<!-- iUsrProfWrapper -->
	</div>	
<!-- end of bootstrap -->
</div>

<!-- bootstrap -->

<div class="row">

<!-- 	ANGULAR  -->
	<div id="iAngProfPg" class="cAngDivHmPg">
		<div class='col-xs-12 col-sm-12 col-md-12 col-lg-12'>						
			<!-- rendering comment and options for live updating via angular -->
			<div ng-view>
				<!-- passing current user id to index partial for
							display of comments of current user -->
				<div ng-init="usrid=<%= current_fashion_trendz_user.id %>"></div>
			</div>
		<!-- bootstrap -->		
		</div>		
<!-- 	ANGULAR  -->
	</div>

<!-- bootstrap -->		
</div>

<!-- bootstrap -->
<div class="row">
<div class='col-xs-12 col-sm-12 col-md-12 col-lg-12'>

	<div id="iPstWriteWrapper">
		<div class="cPstWriteCont">
			<!-- show only of admin.
						-only admins can create posts. -->
			<!-- else, user only sees a list of their comments via angular -->
				<% if current_fashion_trendz_user.admin? %>

					<%= content_tag :h2, "Post a Post!", class: "cH2NwPst" %>
						<%= render partial: 'shared/post_form', locals: { post: @post }%>
					<% end %>
				
		<!-- cPstWriteCont -->				
		</div>
	<!-- cPstWriteWrap -->			
	</div>

<!-- bootstrap -->		
</div>
<!-- bootstrap -->		
</div>