/*
	-for editing comments via AngularJs from
		the fromt page (home page, root).
	-available on each post as an alternative
		to post comments.
	-in development (functionality will change)
*/

trendz_app.controller("commentsEditCtl", ["$scope", "$location", "$routeParams", "getComFac",
	function($scope, $location, $routeParams, getComFac){
		console.log("commentsEditCtl loaded! ");

//array for errors
		$scope.postComErr = [];

//creating new comment
			$scope.comment = new Comment();
			$scope.comment = null;

//if hit submit button do this
		$scope.submit = function(){
			console.log("submit pressed. ");

//function to handle successful response
			function succ(resp){
				console.log("successfully received response. ", resp);
				$scope.succ = "New comment Posted via AngularJs.\n(needs reload to display comment)";
				$scope.comment.content = "";
			}

			//function to handle error
			function err(errResp){
				console.log("error in response. ", errResp['data']);

				angular.forEach(errResp['data'], function(val, key){
					this.push(key + "->" + val);
				}, $scope.postComErr );			
			}

			//if comment blank
			if(!$scope.comment){
				$scope.postComErr.push("comment Cant' be blank!");
			}
			else{
				//if not, create one
				getComFac.create($scope.comment, succ, err);
			}
		};

		//for css class
		$scope.errCssClass = function(name){
			//getting form
			var s;
			s = $scope.form[name];
			//returning error string if $invalid & $dirty
			return (s.$invalid) && (s.$dirty) ? "error" : "NO ERROR";
		};

		//errors
		$scope.errorMessage = function(name){
			//getting form errors
			var s;
			s = $scope.form[name].$error;
			result = [];
			$.each(s, function(key, value){
				result.push(key);
			});
			return result.join(", ");
		};
}]).
/* used in main page for comment display */
directive('getPostUserId', function(){
	return{
		restrict: 'E',
		templateUrl: '<%= asset_path("edit.html.erb") %>'
	};
});
