/*
	-get all coments from database
	-filter comments by date
	-link to edit/show comment
*/	


trendz_app.controller('commentsIndxCtl', 
	['$scope', '$timeout', '$interval', '$location', 'getComFac',
	function($scope, $timeout, $interval, $location, getComFac){
		console.log("commentsIndxCtl loaded!")

	// to validate date for filtering comments by date
		$scope.regex = /^(19|20)\d{2}-(0|1|2)\d-(0|1|2|3)\d$/;

	/* request object for date range */
		var datPar = new Object();

	/* bootstrap pagination variables */
		$scope.currentPage = 1;
		$scope.itemsPerPage = 7;
		$scope.pageChanged = function(){
			$log.log("Page changed to: " + $scope.currentPage);
		};
		$scope.setPage = function(pageNo){
			$scope.currentPage = pageNo;
		};

/* function to get comments */
		function getComments(dU, dL, uid){
				getComFac.index({
					'datUp': dU, 
					"datLow" : dL, 
					"usrid" : uid}, 
					function(data){
						$scope.coms = data;
					/* setting angular's pagination variable */
						$scope.totalItems = $scope.coms.length;
					});
		}

/* subimt function */
		$scope.submit = function(){
		if($scope.datUp && $scope.datLow){

			datPar.datUp = new Date($scope.datUp);
			datPar.datLow = new Date($scope.datLow + "T23:59:59");
		}			
			/* -$resource in action
				 -service in /trendz-app/services */
				getComments(datPar.datUp, datPar.datLow, $scope.usrid);
		};/* $scope.submit */


			/* -set $location.path to redirect to templates/edit via $routeProvider*/
			$scope.edt = function(id, post_id, fashion_trendz_user_id){
				$location.path("comment/" + id + "/post_id/" + post_id + "/fashion_trendz_user_id/" + fashion_trendz_user_id);
			};

			/* -delete comment
				 -pass comment id
				 -on success call submit() to refresh AngularJs
				 		and display success message
				 -on failure display reasons
			*/
			$scope.del = function(id){
				getComFac.destroy({id: id},
					function(data){
						console.log("Delete was successfull", data);
						$scope.succ = "Your comment was successfully deleted";

						// allowing for user to see success response 
						//	before re-rendering comments
						$timeout($scope.sub, 4000);

						// for counter to delete message dissapear
						$scope.sec = 4;
						$scope.angCount = function(){
							$scope.sec = $scope.sec - 1;
							if($scope.sec == 0){
								/* resetting for ng-if on partial:index.html */
								$scope.sec = null;
								$scope.succ = null;
							};
						};
						$interval($scope.angCount, 1000, 4);

					/* refreshing the view for comments */
					getComments(datPar.datUp, datPar.datLow, $scope.usrid);						

					}, function(data){
					console.log("Delete was unsuccessful!!!", data);
				});
			};

}]);
