<% provide(:title, "Reset Password") %>

<!-- bootstrap -->
<div class="container-fluid">
<!-- bootstrap -->
 <div class="row cRowSignUpCont">

    <div class="col-xs-12">
      <div class="cDSignUp row">
        <h1>Reset Account Password</h1>
        <p class="col-sm-12 col-md-8 col-md-offset-2">Pick something smart to secure your account ... something, like combinations of styles, garments, accessories, etc. (eg. ArmANiGirLShOPpEr, etc...)</p>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
      <%= render 'shared/error_messages' %> 
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="cFormSignUp">
        <%= form_for(@fashion_trendz_user, url: password_reset_path(params[:id])) do |f| %>
  
          <%= render 'shared/error_messages', object: f.object %> 

          <%= hidden_field_tag :email, @fashion_trendz_user.email %>

          <%= f.label :password %>
          <%= f.password_field :password, class: 'form-control form-control2 cSignUpField' %>

          <%= f.label :password_confirmation, "Confirmation" %>
          <%= f.password_field :password_confirmation, class: 'form-control form-control2 cSignUpField' %>

          <%= f.submit "New Password", class: "btn btn-sm btn-primary btn-success cSignUpBtn" %>
        <% end %>
      </div>
    </div>

  <!-- bootstrap -->
  </div>
<!-- bootstrap -->
</div>