<% provide(:title, "Forgotten Password") %>
<!-- bootstrap -->
<div class="container-fluid">
<!-- bootstrap -->
<div class="row cRowSignUpCont">

  <div class="col-xs-12">
    <div class="cDSignUp">
      <h1>Forgotten Password</h1>
      <p>Reset your password via email.</p>
    </div>
  </div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="cFormSignUp">
    <%= form_for(:password_reset, url: password_resets_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control form-control2 cSignUpField' %>

      <%= f.submit "Reset", class: "btn btn-sm btn-primary btn-success cSignUpBtn" %>
    <% end %>

  </div>    
</div>

<!-- bootstrap -->
</div>
<!-- bootstrap -->
</div>