<!-- 
	-partial to display comments
	-displayed on front page, 
		and throughout website
-->
<div id="cCom comment-id-<%= comment.id %> user-id-<%= comment.fashion_trendz_user_id %> post-id-<%= comment.post_id %>">
	
	<p class="cPUsrPic">
		<%= render partial: 'shared/comment_user_info', locals: { usrCom: comment.fashion_trendz_user } %>
	</p>

	<p class="cComContent">
		<!-- limitting size of comment for front page display
					user can click post title to see all posts/all comments -->
		<%= truncate(comment.content, length: 250) %>
	</p>

	<% unless current_fashion_trendz_user.nil? %>
		<% if(current_fashion_trendz_user.id == comment.fashion_trendz_user_id) %>
			<%= content_tag :div, class: "" do %>
				<%= content_tag :div, class: "cComFrmCont cComFrmCont2" do %>
					<%= render partial: 'shared/comment_form2', locals: { newCom: comment, post: post, func: "edit"} %>

					
				<% end %>
			<% end %>
		<% end %>
	<% end %>	

	<span class="cTimestamp">Posted <%= time_ago_in_words(comment.created_at) %> ago.</span>

<!-- cCom -->
</div>

<!-- to separate posts -->
<hr class="cHComBk" width="60%" color="#ffff" style="border-top:0.01px solid grey;">