<% provide(:title, "Log In!") %>

<!-- bootstrap -->
<div class="container-fluid">
<!-- bootstrap -->
<div class="row cRowSignUpCont">

  <div class="col-xs-12">
    <div class="cDSignUp">
      <h1>Sign In to your Fashion Trendz Blog Account!</h1>
      <p>View, track of your favorite posts, purchases, wishlists, etc...</p>
    </div>
  </div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="cFormSignUp">
    <%= form_for(:trendz_session, url: login_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control form-control2 cSignUpField' %>

      <%= f.label :password %>
      <%= link_to new_password_reset_path, class: 'form-control2' do %>
        <small>(forgot password)</small>  
      <% end %>
      <%= f.password_field :password, class: 'form-control form-control2 cSignUpField' %>

      <%= f.label :remember_me, class: 'checkbox inline cCkBxLgIn' do %>
      <%= f.check_box :remember_me %>
          <span class="cRemSpn">Remember me on this computer</span>
      <% end %>

      <%= f.submit "Log In", class: "btn btn-sm btn-primary btn-success cSignUpBtn" %>
    <% end %>

    <p class="cPSignUp">New User <%= link_to "Fashion Trendz Blog Sign Up!", signup_path %></p>
  </div>    
</div>

<!-- bootstrap -->
</div>
<!-- bootstrap -->
</div>