<!-- 
	-partial providing form to create a new comment
	-present on a per post basis everywhere on page
		so long user is logged in
-->
<%= form_for @newCom do |f| %>
	<%= render 'shared/error_messages', object: f.object %>

	<%= content_tag :div, class: "cNwComFrm" do %>

		<%= content_tag :h5, "What's on your mind?", class: "cH5ComFrm" %>
		<%= f.text_area :content,  placeholder: "Edit comment (not too long!)", class: "cTxtAComFrm cTxtAcomFrm2" %>

		<%= f.hidden_field :fashion_trendz_user_id, value: current_fashion_trendz_user.id  %> 
		<%= f.hidden_field :post_id, value: post.id %>

		<%= f.submit " #{func} comment", class: "cPstComBtn" %>
	<% end %>
<% end %>