<!--
	-partial to display current user infomration within partial
	-placed throughout where user info is displayed
-->
<%= link_to profile_img(usrCom, size: 50), usrCom, class: "cComImgLk" %>
<span class="cUsr"><%= link_to usrCom.name, usrCom %></span>