<% if object.errors.any? %>
	<div id='error_explanation'>

<!-- bootrstrap -->
<div class='row'>
<!-- bootrstrap -->
<div class="col-xs-12">

		<div class='alert-danger alert-danger2 cAlertErrors'>
			<p>There are <%= pluralize(object.errors.count, 'error') %>.</p>
		</div>

		<div class="cErUlWrap">
			<ul>
				<% object.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>

	</div>

<!-- bootrstrap -->
</div>
<!-- bootrstrap -->
</div>
<% end %>