<!--
	-partial to display current user infomration
	-placed throughout where user info is displayed
-->
<div class="cUsrInfo">
	<%= profile_img(current_fashion_trendz_user, size:50) %>

	<div class="cUsrInfoGnrl">
	<span class="cUsrNm"><%= current_fashion_trendz_user.name %></span>
	<span class="cUsrEm"><%= current_fashion_trendz_user.email %></span>
	<span class="cUsrCreat"><%= current_fashion_trendz_user.created_at %></span>
	</div>
	<span class="cPstNbr">
		<%= pluralize(current_fashion_trendz_user.comments.count, "Comment") %> Posted
	</span>	
</div>		
