<!--
	-partial to render post form
	-rendered on profile page of admin when logged in
-->
<%= content_tag :div, id:"iPstWrite" do %>
	<%= form_for post do |f| %>
		<%= render 'shared/error_messages', object: f.object %>

		<%= content_tag :div, class: "cPstFrm" do %>

			<%= label :post, "Title", class: "cH5PstFrm" %>
			<%= f.text_field :title, placeholder: "Enter post title..", class: "cPstTxtFld" %>

			<%= label :post, "Description", class: "cH5PstFrm" %>
			<%= f.text_field :description, placeholder: "Enter post description...", class: "cPstTxtFld" %>

			<%= label :post, "Category", class: "cH5PstFrm" %>
			
			<%= content_tag :div, class: "cPostCatChoices" do %>			

				<%= label :post_category, "Dresses & Jeans", class: "cRad" %>
				<%= f.radio_button :category, "dressesAndJeans" %>

				<%= label :post_category, "Handbags", class: "cRad" %>
				<%= f.radio_button :category, "handbags" %>

				<%= label :post_category, "Makeup", class: "cRad" %>
				<%= f.radio_button :category, "makeup" %>

				<%= label :post_category, "Shoes!", class: "cRad" %>
				<%= f.radio_button :category, "shoes" %>
			<% end %>
			
			<%= f.text_area :content, placeholder: "Post content ....", class: "cPostTxtA" %>		

			<%= f.submit "Post your Post", class: "cPostBtn" %>
		<% end %>
	<% end %>
<% end %>