/* directives to include templates */
#= depend_on_asset "show.html"
#= depend_on_asset "edit.html.erb"
#= depend_on_asset "index.html"

var trendz_app = angular.module('trendzDisplay', ['ngResource', 'ngRoute', 'ui.bootstrap']).
run(console.log("trendzDisplay loaded!"));

trendz_app.config(function($routeProvider, $locationProvider){

	$locationProvider.html5Mode({
		enabled: true,
/* base tag in application.html.erb : line 18-19 */
		requireBase: true,
		rewriteLinks: false
	});

	$routeProvider.
		when('/', {
			templateUrl: "<%= asset_path('show.html') %>",
			controller: 'commentShCtl'
		}).
		when('/comment/:id', {
			templateUrl: "<%= asset_path('show.html') %>",
			controller: 'commentShCtl'
		}).
		when('/comment/:id/post_id/:post_id/fashion_trendz_user_id/:fashion_trendz_user_id', {
			templateUrl: "<%= asset_path('edit.html.erb') %>",
			controller: 'commentsEditCtl2'
		}).
		when('/fashion_trendz_users/:id', {
			templateUrl: "<%= asset_path('index.html') %>",
			controller: 'commentsIndxCtl'

		});
});

trendz_app.config(function($httpProvider){
	$httpProvider.defaults.headers.common['X-CSRF-Token'] = $('meta[name=csrf-token]').attr('content');
});

/* -error factory as interceptor for response 
			and pushed into $httpProvider.interceptors
*/
trendz_app.config(function($provide, $httpProvider){
	$provide.factory('errorIntercept', function($q){
		return {
			responseError: function(rejection){
				console.log("this is the reason: ", rejection);
				return $q.reject(rejection);
			}
		};
	});

	$httpProvider.interceptors.push('errorIntercept');
});

