<!-- POST!!!!! -->
<div class="post-<%= post.id %> cPost <%= post.category %>">
	<h1 class="cPstTl"><%= link_to post.title, post_path(:id => post.id) %></h1>

	<span class="cPostDate"><%= post.created_at %></span>

	<h3 class="cPostDesc"><%= post.description %></h3>

	<p class="cCont"><%= post.content %></p>

<!-- LAYING OUT COMMENTS -->
	<div class="iComWrapper">
		<div class="cComCont">	
			
			<h3 class="cH3Comm">Comments</h3>

			<% if !current_fashion_trendz_user %>
				<%= link_to login_path do %>
					<span class="cSpnComEn">Login To Comment</span>
					<% store_loc %>
				<% end %>
			<% else %>
				<%= content_tag :div, class: "" do %>
					<%= content_tag :div, class: "cComFrmCont" do %>

					<!-- passing info in locals hash to partial with:
								-new comment for angular option
								-the current post
								-func var to generalize partial
					-->
						<%= render partial: 'shared/comment_form', locals: { newCom: @newCom, post: post, func: "post"} %>

<!-- 	ANGULAR  -->
						<div class="cAngDivHmPg" ng-controller="commentsEditCtl" ng-init="comment.post_id = <%= post.id %>">
<!-- rendering comment and options for live updating via angular -->
							<get-post-user-id ng-init="comment.fashion_trendz_user_id = <%= current_fashion_trendz_user.id %>"></get-post-user-id>
						</div>
<!-- 	ANGULAR  -->

						<% end %>
					<% end %>
				<% end %>
		<!-- displaying only 4 latest posts and choosing to lay all of  them in the
					actual post page for this particular post -->
			<%= render  partial: "comments/comment", collection: post.comments.first(4), locals: { post: post} %>

<!-- cComCont -->		
		</div>
		<span class="cPostDate" style="float:none;color:black;font-family:f;font-weight:bold;margin-bottom:5%;display:block;margin-left:3%;">Click on Post Title to View ALL comments.<span>
<!-- iComWrapper -->
	</div>
<!-- cPost -->
</div>