/* to aide in pagination where posts are rendered */
$('#iPagPsts').append("<%= j render( partial: 'posts/post', collection: @dressesAndJeans) %>");

<% if @dressesAndJeans.next_page %>
	$('.pagination').replaceWith('<%= j will_paginate(@dressesAndJeans) %>');
<% else %>
	$(window).off('scroll');
	$('.pagination').remove();
<% end %>