<% provide(:title, "Handbags") %>

<!-- bootstrap -->
<div class="container-fluid ">

	<h1 class="cHndbgH1">Handbags/Purses</h1>

<!-- bootstrap -->
<div class="row">

	<div id="iHmPgWrapper">
		<div class="cHmPgCont">

		<div class="hidden-xs col-sm-2 col-md-2 col-lg-2">
			
			<aside class="cSide1Wrapper">

				<div class="cSide1Cont">
					<div class="cSide1Img">
						<%= link_to image_tag("city.jpg", class: "cSide1ImgTag"), "#" %>
					</div>

					<div class="cSide1Info">
						<h4>Link to Shoes!</h4>
						<p>Alert: shoes on sale!</p>
						<%= link_to "High Heels on Sale!", "#" %>
					</div>

					<div class="cSide1Img">
						<%= link_to image_tag("people.jpg"), "#" %>
					</div>

					<div class="cSide1Info">
						<h4>Link to Shoes!</h4>
						<p>Alert: shoes on sale!</p>
						<%= link_to "High Heels on Sale!", "#" %>
					</div>
					
					<div class="cSide1Img">
						<%= link_to image_tag("nightlife.jpg"), "#" %>
					</div>
					<div class="cSide1Info">
						<h4>Link to Shoes!</h4>
						<p>Alert: shoes on sale!</p>
						<%= link_to "High Heels on Sale!", "#" %>
					</div>

					<div class="cSide1Img">
						<%= link_to image_tag("model.jpg"), "#" %>
					</div>						
<!-- cSide1Cont -->					
				</div>
<!-- cSide1Wrapper -->				
			
			</aside>
			
		</div>
		
		<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">

		<!-- main parragraph-->
		<div class="cHndbgWrapper">
			<div class="cHndbgCont">
				<div class="cHndbg">
					<p>"Copia caelestis solum concido. Facere auris cupiditas pel cras fugit titulus talus. Consuasor adflicto sed supra verecundia nulla considero minima.", "Amo volva patrocinor doloremque. Adeo quasi vito territo tabella blanditiis tabula illo. Victoria amplexus auditor tendo amaritudo cohors. Termes atrox asperiores ubi combibo abundans aestas ut.", "Cupio tantillus decet tenax confido. Confugo tero curiositas adinventitias tabula sodalitas. Quis eius libero beatus appono claustrum.", "Voluptatibus speciosus magnam. Inflammatio despirmatio vitium. Et doloribus vesper tandem spoliatio alias curis. Acquiro color paens.", "Suspendo universe a antepono acquiro vulpes spiculum. Coepi bis campana conicio curvo atqui eos. Absque culpo voluptatem. Abutor attollo victoria agnitio. Enim veritas subito recusandae illo auctus.", "Adfectus ut crinis. Dapifer deprecator correptius defetiscor cursim dolorem reprehenderit.
					</p>
					<p>"Copia caelestis solum concido. Facere auris cupiditas pel cras fugit titulus talus. Consuasor adflicto sed supra verecundia nulla considero minima.", "Amo volva patrocinor doloremque. Adeo quasi vito territo tabella blanditiis tabula illo. Victoria amplexus auditor tendo amaritudo cohors. Termes atrox asperiores ubi combibo abundans aestas ut.", "Cupio tantillus decet tenax confido. Confugo tero curiositas adinventitias tabula sodalitas. Quis eius libero beatus appono claustrum.", "Voluptatibus speciosus magnam. Inflammatio despirmatio vitium. Et doloribus vesper tandem spoliatio alias curis. Acquiro color paens.", "Suspendo universe a antepono acquiro vulpes spiculum. Coepi bis campana conicio curvo atqui eos. Absque culpo voluptatem. Abutor attollo victoria agnitio. Enim veritas subito recusandae illo auctus.", "Adfectus ut crinis. Dapifer deprecator correptius defetiscor cursim dolorem reprehenderit.
					</p>
				</div>
			</div>
		</div>
<!-- main parragraph-->

			<div class="cPostSec">
				<h1 class="cHomeH1">Fendi, Fendi, Fendi!</h1>


				<div class="cPostWrapper">

					<div  id="iPagPsts" class="cPostCont">
						<!-- rendering posts with category: handbags -->
						<%= render @handbags %>
		<!-- cPostCont -->					
					</div>
					<%=  will_paginate @handbags %>
		<!-- cPostWrapper -->				
				</div>
		<!-- cPostSec -->			
			</div>
		</div>

		<div class="col-xs-4 col-sm-2 col-md-2 col-lg-2 cSide2WrapperResp">
			
			<aside class="cSide2Wrapper">
			
				<div class="cSide2Cont">

					<div class="cSide2Info">
						<h4>Link to Shoes!</h4>
						<p>Alert: shoes on sale!</p>
						<%= link_to "High Heels on Sale!", "#" %>
					</div>
					<div class="cSide2Img">
						<%= link_to image_tag("model.jpg"), "#" %>
					</div>

					<div class="cSide2Info">
						<h4>Link to Shoes!</h4>
						<p>Alert: shoes on sale!</p>
						<%= link_to "High Heels on Sale!", "#" %>
					</div>
					<div class="cSide2Img">
						<%= link_to image_tag("nightlife.jpg"), "#" %>
					</div>					
					<div class="cSide2Info">
						<h4>Link to Shoes!</h4>
						<p>Alert: shoes on sale!</p>
						<%= link_to "High Heels on Sale!", "#" %>
					</div>
					<div class="cSide2Img">
						<%= link_to image_tag("people.jpg"), "#" %>
					</div>
					<div class="cSide2Info">
						<h4>Link to Shoes!</h4>
						<p>Alert: shoes on sale!</p>
						<%= link_to "High Heels on Sale!", "#" %>
					</div>
					<div class="cSide2Img">
						<%= link_to image_tag("city.jpg"), "#" %>
					</div>						
<!-- cSide1Cont -->					
				</div>
			
			</aside>

		</div>

		<!-- cHmPgCont -->
			</div>
		<!-- iHmPgWrapper -->
			</div>

	<!-- bootstrap -->
</div>