/* to aide in pagination where posts are rendered */
$('#iPagPsts').append("<%= j render( partial: 'posts/post', collection: @handbags) %>");

<% if @handbags.next_page %>
	$('.pagination').replaceWith('<%= j will_paginate(@handbags) %>');
<% else %>
	$(window).off('scroll');
	$('.pagination').remove();
<% end %>