<!-- 
	HOMEPAGE
-->	
<% content_for(:title, "Trendz Blog Home Page") %>

<!-- bootstrap -->
<div class="row">

	<div id="iHmPgWrapper">
		<div class="cHmPgCont">

		<div class="col-xs-3 col-sm-4 col-md-4 col-lg-4 cSide2WrapperResp">
		
			<aside class="cSide1HomeWrapper">
				<div class="cSideCont">

					<div class="cSide2InfoSoc">
						<h4>Social Media</h4>
						<p>Social media buttons: twitter, facebook, sharing, etc...</p>
						<p><span><%= link_to "Twitter!", "#" %></span></p>
						<p><span><%= link_to "Facebook!", "#" %></span></p>
						<p><span><%= link_to "Instagram!", "#" %></span></p>
						<p><span><%= link_to "Share!", "#" %></span></p>
					</div>

					<div class="row">
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
							<div class="cSide2ImgPost1">
								<%= link_to image_tag("model.jpg"), "#" %>
							</div>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
							<div class="cSide2ImgPost2">
								<%= link_to image_tag("nightlife.jpg"), "#" %>
							</div>						
						</div>
					</div>

					<div class="cSide2InfoPost">
						<h4>Most popular comments:</h4>
						<span style="color:blue;font-family:f;font-weight:bold">Filter by id# (try 0-790)</span>
						<p class="cPopCom">
<!-- 	ANGULAR  -->
						<div>
<!-- rendering comment and options for live updating via angular -->
							<div ng-view></div>
						</div>
<!-- 	ANGULAR  -->						
						</p>
						<p class="cPopCom hidden-xs">
						</p>

	

					</div>

					<div class="row">
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
							<div class="cSide2ImgPost1">
								<%= link_to image_tag("nightlife.jpg"), "#" %>
							</div>	
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">						
							<div class="cSide2ImgPost2">
								<%= link_to image_tag("model.jpg"), "#" %>
							</div>
						</div>
					</div>							

					<div class="cSide2InfoPost">
						<h4>Link to Shoes!</h4>
						<p>Alert: shoes on sale!</p>
						<%= link_to "High Heels on Sale!", "#" %>
					</div>

					<div class="row">
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
							<div class="cSide2ImgPost1">
								<%= link_to image_tag("people.jpg"), "#" %>
							</div>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">					
							<div class="cSide2ImgPost2">
								<%= link_to image_tag("city.jpg"), "#" %>
							</div>
						</div>
					</div>							

					
<!-- cSide1Cont -->					
				</div>
<!-- cSide2Wrapper -->
			</aside>
<!-- bootstrap -->
		</div>		
		
			<div class="col-xs-11 col-sm-8 col-md-8 col-lg-8">
				<div class="cPostSec">
					<h1 class="cHomeH1">Fashion Trendz Blog Post</h1>


					<div class="cPostWrapper">

						<div id="iPagPsts" class="cPostCont">
							<!-- rendering posts with category:  all/any-->
							<%= render @userPosts %>
						<!-- cPostCont -->					
						</div>

			<!-- div with id to pick up at pagination.js.coffee -->
						<%= will_paginate @userPosts %>
					
			<!-- cPostWrapper -->				
					</div>
			<!-- cPostSec -->			
				</div>
			</div>

		<!-- cHmPgCont -->
		</div>

	<!-- iHmPgWrapper -->
	</div>

	<!-- bootstrap -->
</div>