/* to aide in pagination where posts are rendered */
$('#iPagPsts').append("<%= j render( partial: 'posts/post', collection: @userPosts) %>");

<% if @userPosts.next_page %>
	$('.pagination').replaceWith('<%= j will_paginate(@userPosts) %>');
<% else %>
	$(window).off('scroll');
	$('.pagination').remove();
<% end %>