/* to aide in pagination where posts are rendered */
$('#iPagPsts').append("<%= j render( partial: 'posts/post', collection: @makeup) %>");

<% if @makeup.next_page %>
	$('.pagination').replaceWith('<%= j will_paginate(@makeup) %>');
<% else %>
	$(window).off('scroll');
	$('.pagination').remove();
<% end %>