/* to aide in pagination where posts are rendered */
$('#iPagPsts').append("<%= j render( partial: 'posts/post', collection: @shoes) %>");

<% if @shoes.next_page %>
	$('.pagination').replaceWith('<%= j will_paginate(@shoes) %>');
<% else %>
	$(window).off('scroll');
	$('.pagination').remove();
<% end %>