<!--  
	-show particular post
-->
<% content_for(:title, @viewPost[0].title) %>

<!-- bootstrap -->
<div class="row">

	<div id="iHmPgWrapper">
		<div class="cHmPgCont">
		
		<div class="col-xs-11 col-sm-8 col-md-8 col-lg-8">
			
			<aside class="cPostSec">

				<h1 class="cHomeH1">Fashion Trendz Blog Post</h1>


				<div class="cPostWrapper">
					<div class="cPostCont">

						<%= render @viewPost %>

		<!-- cPostCont -->					
					</div>
		<!-- cPostWrapper -->				
				
				</aside>

		<!-- cPostSec -->			
			</div>
		</div>

		<div class="col-xs-3 col-sm-4 col-md-4 col-lg-4 cSide2WrapperResp">
			<div class="cSide2WrapperPost">
				<div class="cSide2Cont">

					<div class="cSide2InfoSoc">
						<h4>Social Media</h4>
						<p>Social media buttons: twitter, facebook, sharing, etc...</p>
						<p><span><%= link_to "Twitter!", "#" %></span></p>
						<p><span><%= link_to "Facebook!", "#" %></span></p>
						<p><span><%= link_to "Instagram!", "#" %></span></p>
						<p><span><%= link_to "Share!", "#" %></span></p>
					</div>

					<div class="row">
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
							<div class="cSide2ImgPost1">
								<%= link_to image_tag("model.jpg"), "#" %>
							</div>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
							<div class="cSide2ImgPost2">
								<%= link_to image_tag("nightlife.jpg"), "#" %>
							</div>						
						</div>
					</div>

					<div class="cSide2InfoPost">
						<h4>Most popular comments:</h4>
						<h5></h5>
						<p class="cPopCom"><%= show_popular_comments(@viewPost) %>
						</p>
						<%= link_to "High Heels on Sale!", "#" %>
						<p class="cPopCom hidden-xs"><%= show_popular_comments(@viewPost) %>
						</p>	

					</div>

					<div class="row">
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
							<div class="cSide2ImgPost1">
								<%= link_to image_tag("nightlife.jpg"), "#" %>
							</div>	
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">						
							<div class="cSide2ImgPost2">
								<%= link_to image_tag("model.jpg"), "#" %>
							</div>
						</div>
					</div>							

					<div class="cSide2InfoPost">
						<h4>Link to Shoes!</h4>
						<p>Alert: shoes on sale!</p>
						<%= link_to "High Heels on Sale!", "#" %>
					</div>

					<div class="row">
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
							<div class="cSide2ImgPost1">
								<%= link_to image_tag("people.jpg"), "#" %>
							</div>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">					
							<div class="cSide2ImgPost2">
								<%= link_to image_tag("city.jpg"), "#" %>
							</div>
						</div>
					</div>							

					
<!-- cSide1Cont -->					
				</div>
			
			</aside>
			
		</div>

		<!-- cHmPgCont -->
			</div>

		<!-- iHmPgWrapper -->
			</div>

	<!-- bootstrap -->
</div>
