/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *=
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sass-official/assets/stylesheets/bootstrap-sprockets";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap";

/* for pagination purposes as per http:sitepoint tutorial on pagination*/
@import "bootstrap";

@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}

@media screen and (min-width: 250px) and (max-width: 490px){
/* error strip on top of iPageCont */
	.cDErr{
		font-size:105%;
	}
/* errors partial */
	#error_explanation{
		.cAlertErrors{
			height:1.2em;
		}
		.cAlertErrors p{
			font-size:80%;
		}
		ul{
			font-size: 75%;
		}
	}
/*main page container */
	#iPageCont{
		min-height: 20em;	
	}
/* footer menu */		
	.cUFootMenu li{
		font-size: 80%;
	}
	.cFLiMenu{
		font-size: 70%;
	}
	.cDFCred{
		font-size:80%;
	}
/* fashion_trendz_user_edit_path */
	.cUpProf{

		h1{
			text-align: center;
		}
		.cNm, .cEm{
			font-size: 85%;

		}
		.cUpForm{
			width:80%;
			display:block;
			margin:auto;
		}
	}

/* index for users */
.cIdxWrap{
		h1{font-size:190%;}
		.cIdx{font-size:120%;}
	}

/* profile page 
	.cProfH4{font-size:150%;}
	.cAccInfoSideWrap{
		.user_info{p{font-size:100%;}}	
	}
*/
#iUsrProfWrapper{
	.cProfH4{font-size:130%;}
	.cAccInfoWrapper{
		.cUsrInfoGnrl{font-size: 111%;}		
		.cUsrInfoCont{}
		.cUsrInfo{
			.cProfImg{}
			.cPstNbr{font-size:95%;}				
		}
	}	
}
/* for angular comment edit partial
			user profile page */
#iAngProfPg{
	margin: 4% 6%;
	.cAngComFrmProfPg{.cSpComFrm{margin: 0px 0px 2%;display: block;}}
	.cInAngComFrm{font-size: 82%;}
	.cBtnAngComFrm{margin-top: 1%;margin-bottom: 1%;font-size: 82%;}
	.cTabAngIdxCom{.cTabHAngIdxCom{font-size:88%;}}	
	.cAngTblCom{font-size: 96%;}
	.cSpComAngErr{margin-bottom: 2%;font-size:95%;}
}
/* submit new post on user profile page */
#iPstWriteWrapper{}
.cPstWriteCont{
	margin: 2% 0 2% 0;

	.cH2NwPst{
		font-size: 230%;
		font-weight: bold;
		margin: 15% 0px 24px;
	}
	#iPstWrite{
		.cPstTxtFld{
			border-radius: 18%;
			min-height: 1.8em;
			font-size:97%;
		}
	}
	.cPstFrm{
		width: 90%;
		margin: auto;		
		.cH5PstFrm{
			font-size: 115%;
		}
		.cPostTxtA{
			font-size: 82%;
			min-height: 24em;
		}
		.cPostCatChoices{font-size: 96%;}
		.cPostBtn{
			width: 36%;
			font-size: 99%;			
		}
	}
}
/* login page */
	.cRowSignUpCont{
		.cDSignUp h1{font-size:150%;}
		.cDSignUp p{font-size:80%;}
		.cPSignUp{font-size:40%;}
		.cFormSignUp{
			label{font-size:90%;}
			.form-control2{font-size:90%;}
			.cRemSpn{font-size:70%;}
			.cSignUpBtn{font-size:50%;}
		}
	}
/* home page: posts */
	.cSide2WrapperResp{
		display:none;
	}

/* css for angular portion on all posts*/
	.cAngDivHmPg{
		margin:10% 0 5% 0;
		.cH4AngEdCom{font-size:89%;}
		.cErrAngEdCom{font-size:95%;width:70%;}
		.cSucAngEdCom{font-size:92%;}
		.cFrmAngEdCom{
			.cSpAngTit{margin-bottom:3%;font-size:105%;}
			.cTxtADvAngEdCom{
				textarea{
					width:75%;
					font-size:96%;
					border-radius:6%;
					min-height: 3.6em;
				}
			}
			.cSubAngEdCom{
				.cAFrAngEdCom{font-size:89%;}
				.cBtnFrAngEdCom{font-size:89%;}
			}
		}
	}
	.cPostSec{
		position:relative;
		width:111%;

		.cHomeH1{
			padding-bottom:1.5%;
			font-size:150%;
		}
		.cPost{
			line-height:100%;

			p::first-letter{
				font-size:135%;
			}
			.cPstTl{
				font-size:200%;
				margin-top:7%;
			}
			.cPostDate{
				font-size:40%;
				margin-bottom:3%;
			}
			.cPostDesc{
				font-size:90%;
				font-weight:900;
			}
			.cCont{
				font-size:75%;
			}
		}
	}
/* dresses and jeans */
	.cDresJnH1{
		font-size:150%;
	}
	.cDresJnWrapper{
		width:155%;
		padding:5%;

		.cDresJn{
			line-height:110%;
			font-size:94%;	
		}
	}
/* handbags */
	.cHndbgH1{
		font-size:150%;
	}
	.cHndbgWrapper{
		width:155%;
		padding:5%;

		.cHndbg{
			line-height:110%;
			font-size:94%;	
		}
	}
/* makeup */
	.cMkupH1{
		font-size:150%;
	}
	.cMkupWrapper{
		width:155%;
		padding:5%;

		.cMkup{
			line-height:110%;
			font-size:94%;	
		}
	}
/* shoes */
	.cShoesH1{
		font-size:150%;
	}
	.cShoesWrapper{
		width:155%;
		padding:5%;

		.cShoes{
			line-height:110%;
			font-size:94%;	
		}
	}
/* comments for each post */
/* some of these classes are
located in _post.html.erb and 
some are in _comment.html.erb */
	.iComWrapper{
		.cH3Comm{font-size:100%;}
		.cComCont{
			.cComContent{font-size: 75%;}
			.cUsr{a{font-size:110%;}}
			.cTimestamp{font-size:70%;}
			.cSpnComEn{font-size:70%;}
			.cComFrmCont{
				margin-bottom:10%;

				.cNwComFrm{}
				.cH5ComFrm{
					margin-left:1%;
					font-size:97%;
				}
				.cTxtAComFrm{font-size:90%;;min-height: 7em;}
			}		
		}
	}
}

@media screen and (min-width: 491px) and (max-width: 767px){
	/* errors partial */
	#error_explanation{
		.cAlertErrors{
			height:1.6em;
		}
		.cAlertErrors p{
			font-size:95%;
		}
		ul{
			font-size: 90%;
		}
	}
	/* error strip on top of iPageCont */
	.cDErr{
		font-size:115%;
	}	
	.cUFootMenu li{
		font-size: 95%;
	}
	.cFLiMenu{
		font-size: 95%;
	}
	.cDFCred{
		font-size:98%;
	}
/* fashion_trendz_user_edit_path */
	.cUpProf{

		h1{
			text-align: center;
		}
		.cNm, .cEm{
			font-size: 85%;
		}
	}
	.cUpForm{
		display:block;
		margin:auto;
	}
	/* profile page 
	.cProfH4{font-size:150%;}
	.cAccInfoSideWrap{
		.user_info{p{font-size:100%;}}	
	}
*/
#iUsrProfWrapper{
	.cProfH4{font-size:163%;}
	.cAccInfoWrapper{
		.cUsrInfoGnrl{font-size: 123%;}		
		.cUsrInfo{.cPstNbr{font-size:96%;}}
	}	
}
/* for angular comment edit partial
			user profile page */
#iAngProfPg{
	margin: 4% 6%;
	.cAngComFrmProfPg{.cSpComFrm{margin: 0px 0px 2%;display: block;font-size: 107%;
}}
	.cSpComAngErr{margin-bottom: 2%;font-size:95%;}
	.cInAngComFrm{font-size: 84%;}
	.cBtnAngComFrm{margin-top: 1%;margin-bottom: 1%;font-size: 90%;}
	.cTabAngIdxCom{.cTabHAngIdxCom{font-size:90%;}}	
	.cAngTblCom{font-size: 98%;}
}
/* submit new post on user profile page */
#iPstWriteWrapper{}
.cPstWriteCont{
	.cH2NwPst{
		font-size: 248%;
		margin: 9% 0px 30px;
	}
	#iPstWrite{
		.cPstTxtFld{
			border-radius: 18%;
			min-height: 2em;
			font-size: 97%;
		}
	}
	.cPstFrm{
		width: 90%;
		margin: auto;

		.cH5PstFrm{
			font-size: 140%;
		}
		.cPostTxtA{
			font-size: 83%;
			min-height: 37em;
		}
		.cPostCatChoices{font-size: 103%;}
		.cPostBtn{
			width: 30%;
			font-size: 97%;			
		}
	}
}
/* index for users */
.cIdxWrap{
		
		h1{
			font-size:200%;		
		}
		.cIdx{
			font-size:130%;
		}
	}

/* profile page */
	.cProfH4{
		font-size:170%;
	}
	.cAccInfoSideWrap{
		.user_info{
			p{
				font-size:120%;
			}
		}	
	}
/* login page */
	.cRowSignUpCont{
		.cDSignUp h1{
			font-size:190%;
		}
		.cDSignUp p{
			font-size:100%;
		}
		.cPSignUp{
			font-size:80%;
		}
		.cFormSignUp{
			label{
				font-size:95%;
			}
			.form-control2{
				font-size:90%;
			}
			.cRemSpn{
				font-size:87%;
			}
			.cSignUpBtn{
				font-size:62%;
			}
		}
	}
/* home page: posts */
	.cSide2WrapperResp{
		display:none;
	}
/*
.cSide1HomeWrapper{
	margin-top:26%;
	.cSide2InfoSoc{h4,h5,a{font-size:90%;}}
	.cSide2InfoPost{h4,p,a{font-size:90%;}}
}
*/
/* css for angular portion */
	.cAngDivHmPg{
		margin:15% 0 5% 0;
		.cH4AngEdCom{font-size:96%;}
		.cErrAngEdCom{font-size:96%;}
		.cSucAngEdCom{font-size:92%;}
		.cFrmAngEdCom{
			.cSpAngTit{margin-bottom:2%;font-size:109%;}
			.cTxtADvAngEdCom{
				textarea{
					width:75%;
					font-size:96%;
					border-radius:6%;
					min-height: 3.6em;
				}
			}
			.cSubAngEdCom{
				.cAFrAngEdCom{font-size:90%;}
				.cBtnFrAngEdCom{font-size:90%;}
			}
		}
	}	
	.cPostSec{
		position:relative;
		width:110%;

		.cHomeH1{
			padding-top:10%;
			padding-bottom:1.5%;
			font-size:180%;
		}
		.cPost{
			line-height:114%;

			p::first-letter{
				font-size:135%;
			}
			.cPstTl{
				font-size:235%;
				margin-top:6%;
			}
			.cPostDate{
				font-size:75%;
				margin-bottom:3%;
			}
			.cPostDesc{
				font-size:105%;
				font-weight:900;
			}
			.cCont{
				font-size:95%;
			}
		}
	}
	.cSide2Wrapper{
		position:relative;
		width:80%;
		right:-24%;

		.cSide2Cont{}
		.cSide2Img{
			width:96%;
		}
		.cSide2Info{
			height:11em;
			font-size:85%;
			width:96%;
			padding:0 3% 0 3%;
			
			h4{
				font-size:120%;
			}
			p{}
		}
	}
/* for side on show post page */
.cSide2WrapperPost{
	left:1.7em;
	width:110%;

	.cSide2ImgPost1{left:0.5em;}
	.cSide2ImgPost2{left:-0.5em;}

	.cSide2InfoSoc{
		height:16em;
		margin:2% 0 2% 0;

		h4{font-size:97%;font-weight:bold;}
		p{font-size:85%;}
		a{font-size:96%;}
	}
	.cSide2InfoPost{
		height:20em;
		margin:2% 0 2% 0;
		h4{font-size:97%;font-weight:bold;}
		.cPopCom{font-size:85%;}	
	}
}
/* dresses and jeans */
	.cDresJnH1{
		margin-bottom:7%;
		font-size:320%;
	}
	.cDresJnWrapper{
		position:relative;
		left:1%;
		width:110%;
		padding:5%;

		.cDresJn{
			line-height:100%;
			font-size:120%;	
		}
	}
/* handbags */
	.cHndbgH1{
		margin-bottom:7%;
		font-size:320%;
	}
	.cHndbgWrapper{
		position:relative;
		left:1%;
		width:110%;
		padding:5%;

		.cHndbg{
			line-height:100%;
			font-size:110%;	
		}
	}
/* makeup */
	.cMkupH1{
		margin-bottom:7%;
		font-size:320%;
	}
	.cMkupWrapper{
		position:relative;
		left:1%;
		width:110%;
		padding:5%;

		.cMkup{
			line-height:110%;
			font-size:100%;	
		}
	}
/* shoes */
	.cShoesH1{
		margin-bottom:7%;
		font-size:320%;
	}
	.cShoesWrapper{
		position:relative;
		left:1%;
		width:110%;
		padding:5%;

		.cShoes{
			line-height:110%;
			font-size:100%;	
		}
	}
/* comments for each post */
/* some of these classes are
located in _post.html.erb and 
some are in _comment.html.erb */
	.iComWrapper{
		.cH3Comm{font-size:145%;}
		.cComCont{
			.cTxtAComFrm{font-size:90%;;min-height: 9em;}
			.cUsr{a{font-size:117%;}}
			.cTimestamp{font-size:79%;}
			.cSpnComEn{font-size:79%;}						
		}

	}
}

@media screen and (min-width: 768px) and (max-width: 991px){
/* error strip on top of iPageCont */
	.cDErr{
		font-size:115%;
	}
	/* errors partial */
	#error_explanation{
		.cAlertErrors{
			height:1.6em;
		}
		.cAlertErrors p{
			font-size:95%;
		}
		ul{
			font-size: 90%;
		}
	}
/* main menu */
	.cLiMenu{
		font-size: 120%;
	}
/* footer menu */
	.cUFootMenu li{
		font-size: 110%;
	}
	.cFLiMenu{
		font-size: 105%;
	}
	.cDFCred{
		font-size:110%;
	}
/* fashion_trendz_user_edit_path */
	.cUpProf{

		h1{
			text-align: center;
		}
		.cNm, .cEm{
			font-size: 95%;
		}
	}
	.cUpForm{
		width:95%;
		display:block;
		margin:auto;
	}
	/* profile page 
	.cProfH4{font-size:150%;}
	.cAccInfoSideWrap{
		.user_info{p{font-size:100%;}}	
	}
*/
#iUsrProfWrapper{
	.cProfH4{
		font-size: 197%;
		margin: 3% 0 7% 0;
	}
	.cAccInfoWrapper{
		.cUsrInfoGnrl{font-size: 127%;}		
		.cUsrInfo{.cPstNbr{font-size:96%;}}
	}	
}
/* for angular comment edit partial
			user profile page */
#iAngProfPg{
	margin: 4% 6%;
	.cAngComFrmProfPg{.cSpComFrm{margin: 0px 0px 2%;display: block;font-size: 107%;
}}
	.cSpComAngErr{margin-bottom: 2%;font-size:95%;text-align: center;}
	.cInAngComFrm{font-size: 84%;}
	.cBtnAngComFrm{margin-top: 2%;margin-bottom: 1%;font-size: 97%;}
	.cTabAngIdxCom{.cTabHAngIdxCom{font-size:98%;}}	
	.cAngTblCom{font-size: 104%;}
}
/* submit new post on user profile page */
#iPstWriteWrapper{}
.cPstWriteCont{
	.cH2NwPst{
		font-size: 275%;
		margin: 6% 0px 19px;
	}
	#iPstWrite{
		.cPstTxtFld{
			font-size: 104%;
			min-height: 2.4em;
		}
	}
	.cPstFrm{
		width: 90%;
		margin: auto;

		.cH5PstFrm{
			font-size: 148%;
		}
		.cPostTxtA{
			font-size: 96.5%;
			min-height: 42em;
		}
		.cPostCatChoices{font-size: 108%;}
		.cPostBtn{
			width: 22%;
			font-size: 101%;		
		}
	}
}
/* index for users */
.cIdxWrap{
		
		h1{
			font-size:220%;		
		}
		.cIdx{
			font-size:130%;
		}
	}

/* profile page */
	.cProfH4{
		font-size:180%;
		font-weight:lighter;
	}
	.cAccInfoSideWrap{
		.user_info{
			p{
				font-size:135%;
			}
		}	
	}		
/* login page */
	.cRowSignUpCont{
		.cDSignUp h1{
			font-size:200%;
		}
		.cDSignUp p{
			font-size:115%;
		}
		.cPSignUp{
			font-size:84%;
		}
		.cFormSignUp{
			label{
				font-size:103%;
			}
			.form-control2{
				font-size:96%;
			}
			.cRemSpn{
				font-size:87%;
			}
			.cSignUpBtn{
				font-size:62%;
			}
		}
	}
/* home page: posts */
	.cSide2WrapperResp{
		display:visible;
	}
	.cSide1HomeWrapper{
		width: 108%;
		margin-top: 12%;

		.cSide2InfoSoc{h4,h5,a{font-size:102%;}}
		.cSide2InfoPost{h4,p,a{font-size:102%;}}
	}
/* css for angular portion */
	.cAngDivHmPg{
		margin:9% 0 5% 0;
		.cH4AngEdCom{font-size:96%;}
		.cErrAngEdCom{font-size:96%;}
		.cSucAngEdCom{font-size:92%;}
		.cFrmAngEdCom{
			.cSpAngTit{margin-bottom:1%;font-size:110%;}
			.cTxtADvAngEdCom{
				textarea{
					width:75%;
					font-size:96%;
					border-radius:6%;
					min-height: 4.36em;
				}
			}
			.cSubAngEdCom{
				.cAFrAngEdCom{font-size:90%;}
				.cBtnFrAngEdCom{font-size:90%;}
			}
		}
	}
	.cPostSec{
		.cHomeH1{
			padding-bottom:3%;
			font-size:240%;
		}
		.cPost{
			line-height:134%;
			margin:0 0 2% 0;

			p::first-letter{
				font-size:140%;
			}
			.cPstTl{
				font-size:270%;
				margin-top:6%;
				margin-bottom:5%;
			}
			.cPostDate{
				font-size:82.5%;
				margin-bottom:3%;
			}
			.cPostDesc{
				font-size:115%;
				font-weight:900;
			}
			.cCont{
				font-size:110%;
			}
		}
	}
	.cSide1Wrapper{
		width:110%;

		.cSide1Cont{}
		.cSide1Img{}
		.cSide1Info{
			height:13em;
			margin:2.5% 0 2.5% 0;
			font-size:90%;
			
			h4{
				font-size:125%;
			}
			p{}
		}
	}
	.cSide2Wrapper{
		position:relative;
		width:110%;
		right:7%;

		.cSide2Cont{}
		.cSide2Img{}
		.cSide2Info{
			height:13em;
			margin:2.5% 0 2.5% 0;
			font-size:90%;
			padding:0 3% 0 3%;
			
			h4{
				font-size:125%;
			}
			p{}
		}
	}
/* for side on show post page */
.cSide2WrapperPost{
	left:-6%;

	.cSide2ImgPost1{left:0.5em;}
	.cSide2ImgPost2{left:-0.5em;}

	.cSide2InfoSoc{
		height:16em;
		margin:2% 0 2% 0;

		h4{font-size:104%;font-weight:bold;}
		p{font-size:89%;}
		a{font-size:96%;}
	}
	.cSide2InfoPost{
		height:20em;
		margin:2% 0 2% 0;
		h4{font-size:104%;font-weight:bold;}
		.cPopCom{font-size:89%;}	
	}
}
/* dresses and jeans */
	.cDresJnH1{
		margin-bottom:7%;
		font-size:360%;
	}
	.cDresJnWrapper{
		position:relative;
		width:100%;
		padding:5%;

		.cDresJn{
			line-height:110%;
			font-size:130%;	
		}
	}
/* handbags */
	.cHndbgH1{
		margin-bottom:7%;
		font-size:360%;
	}
	.cHndbgWrapper{
		position:relative;
		width:100%;
		padding:5%;

		.cHndbg{
			line-height:110%;
			font-size:110%;	
		}
	}
/* makeup */
	.cMkupH1{
		margin-bottom:7%;
		font-size:360%;
	}
	.cMkupWrapper{
		position:relative;
		width:100%;
		padding:5%;

		.cMkup{
			line-height:110%;
			font-size:110%;	
		}
	}
/* shoes */
	.cShoesH1{
		margin-bottom:7%;
		font-size:360%;
	}
	.cShoesWrapper{
		position:relative;
		width:100%;
		padding:5%;

		.cShoes{
			line-height:110%;
			font-size:110%;	
		}
	}
/* comments for each post */
/* some of these classes are
located in _post.html.erb and 
some are in _comment.html.erb */
	.iComWrapper{
		.cH3Comm{font-size:160%;}
		.cComCont{
			.cComContent{font-size: 90%;}
			.cUsr{a{font-size:117%;}}
			.cTimestamp{font-size:83%;}
			.cSpnComEn{font-size:83%;}
			.cComFrmCont{
				.cNwComFrm{}
				.cH5ComFrm{
					margin-left:2%;
					font-size:110%;
				}
				.cTxtAComFrm{font-size:96%;min-height: 8em;}
				.cPstComBtn{
					width: 18%;
					left: -2%;
					font-size:90%;
				}
			}				
		}
	}	
}

@media screen and (min-width: 992px) and (max-width: 1199px){
/* error strip on top of iPageCont */
	.cDErr{
		font-size:125%;
	}	
/* errors partial */
	#error_explanation{
		font-size: 45%;
		
		.cAlertErrors{
			height:2em;
		}
		ul li{
		}
	}
/* main menu */
	.cLiMenu{
		font-size: 130%;
	}
/* footer menu */
	.cUFootMenu li{
		font-size: 123%;
	}
	.cFLiMenu{
		font-size: 110%;
	}
	.cDFCred{
		font-size:120%;
	}
/* fashion_trendz_user_edit_path */
	.cUpProf{

		h1{
			text-align: center;
		}
		.cNm, .cEm{
			font-size: 98%;
		}
	}
	.cUpForm{
		width:70%;
		display:block;
		margin:auto;
	}
	#iUsrProfWrapper{
	.cProfH4{
		font-size: 227%;
		margin: 3% 0px 5%;
	}
	.cAccInfoWrapper{
		.cUsrInfoGnrl{font-size: 133%;}		
		.cUsrInfo{.cPstNbr{font-size:96%;}}
	}	
}
	/* profile page 
	.cProfH4{font-size:150%;}
	.cAccInfoSideWrap{
		.user_info{p{font-size:100%;}}	
	}
*/
/* for angular comment edit partial
			user profile page */
#iAngProfPg{
	margin: 4% 6%;
	.cAngComFrmProfPg{.cSpComFrm{margin: 0px 0px 2%;display: block;font-size: 107%;
}}
	.cSpComAngErr{margin-bottom: 2%;font-size:95%;text-align: center;}
	.cInAngComFrm{font-size: 84%;}
	.cBtnAngComFrm{margin-top: 2%;margin-bottom: 1%;font-size: 97%;}
	.cTabAngIdxCom{.cTabHAngIdxCom{font-size:98%;}}	
	.cAngTblCom{font-size: 104%;}
}
/* submit new post on user profile page */
#iPstWriteWrapper{}
.cPstWriteCont{
	.cH2NwPst{
		font-size: 295%;
		margin: 6% 0px 19px;
	}
	#iPstWrite{
		.cPstTxtFld{
			font-size: 104%;
			min-height: 2.4em;
		}
	}
	.cPstFrm{
		width: 90%;
		margin: auto;

		.cH5PstFrm{
			font-size: 148%;
		}
		.cPostTxtA{
			font-size: 96.5%;
			min-height: 42em;
		}
		.cPostCatChoices{font-size: 108%;}
		.cPostBtn{
			width: 22%;
			font-size: 101%;		
		}
	}
}
/* index for users */
.cIdxWrap{
		
		h1{font-size:225%;}
		.cIdx{font-size:140%;}
	}
/* profile page */
	.cProfH4{
		font-size:200%;
		font-weight:lighter;
	}
	.cAccInfoSideWrap{
		.user_info{
			p{font-size:135%;}
		}	
	}
/* login page */
	.cRowSignUpCont{
		.cDSignUp h1{font-size:200%;}
		.cDSignUp p{font-size:115%;}
		.cPSignUp{font-size:84%;}
		.cFormSignUp{
			label{font-size:103%;}
			.form-control2{font-size:96%;}
			.cRemSpn{font-size:87%;}
			.cSignUpBtn{font-size:78%;}
		}
	}	
/* home page: posts */
	.cSide2WrapperResp{
		display:visible;
	}
	.cSide1HomeWrapper{
		width: 108%;
		margin-top: 6%;

		.cSide2InfoSoc{h4,h5,a{font-size:109%;}}
		.cSide2InfoPost{h4,p,a{font-size:109%;}}
	}
/* css for angular portion */
	.cAngDivHmPg{
		margin:9% 0 5% 0;
		.cH4AngEdCom{font-size:99%;}
		.cErrAngEdCom{font-size:103%;}
		.cSucAngEdCom{font-size:103%;}
		.cFrmAngEdCom{
			.cSpAngTit{margin-bottom:1%;font-size:110%;}
			.cTxtADvAngEdCom{
				textarea{
					width:75%;
					font-size:96%;
					border-radius:6%;
					min-height: 4.36em;
				}
			}
			.cSubAngEdCom{
				.cAFrAngEdCom{font-size:103%;}
				.cBtnFrAngEdCom{font-size:103%;}
			}
		}
	}
	.cPostSec{
		.cHomeH1{
			padding-bottom:3%;
			font-size:240%;
		}
		.cPost{
			line-height:134%;
			margin:0 0 2% 0;

			p::first-letter{
				font-size:140%;
			}
			.cPstTl{
				font-size:270%;
				margin-top:6%;
				margin-bottom:5%;
			}
			.cPostDate{
				font-size:82.5%;
				margin-bottom:3%;
			}
			.cPostDesc{
				font-size:135%;
				font-weight:900;
			}
			.cCont{
				font-size:110%;
			}
		}
	}
	.cSide1Wrapper{

		.cSide1Cont{}
		.cSide1Img{}
		.cSide1Info{
			
			h4{}
			p{}
		}
	}
	.cSide2Wrapper{
		.cSide2Cont{}
		.cSide2Img{}
		.cSide2Info{}
	}
/* for side on show post page */
.cSide2WrapperPost{
	left:-6%;

	.cSide2ImgPost1{left:0.5em;}
	.cSide2ImgPost2{left:-0.5em;}

	.cSide2InfoSoc{
		height:16em;
		margin:2% 0 2% 0;

		h4{font-size:111%;font-weight:bold;}
		p{font-size:96%;}
		a{font-size:100%;}
	}
	.cSide2InfoPost{
		height:20em;
		margin:2% 0 2% 0;
		h4{font-size:110.5%;font-weight:bold;}
		.cPopCom{font-size:96%;}	
	}
}
/* dresses and jeans */
	.cDresJnH1{
		margin-bottom:7%;
		font-size:360%;
	}
	.cDresJnWrapper{
		position:relative;
		width:100%;
		padding:5%;

		.cDresJn{
			line-height:110%;
			font-size:130%;	
		}
	}
/* handbags */
	.cHndbgH1{
		margin-bottom:7%;
		font-size:360%;
	}
	.cHndbgWrapper{
		position:relative;
		width:100%;
		padding:5%;

		.cHndbg{
			line-height:110%;
			font-size:110%;	
		}
	}
/* makeup */
	.cMkupH1{
		margin-bottom:7%;
		font-size:360%;
	}
	.cMkupWrapper{
		position:relative;
		width:100%;
		padding:5%;

		.cMkup{
			line-height:110%;
			font-size:110%;	
		}
	}
/* shoes */
	.cShoesH1{
		margin-bottom:7%;
		font-size:360%;
	}
	.cShoesWrapper{
		position:relative;
		width:100%;
		padding:5%;

		.cShoes{
			line-height:110%;
			font-size:110%;	
		}
	}	
/* comments for each post */
/* some of these classes are
located in _post.html.erb and 
some are in _comment.html.erb */
	.iComWrapper{
		.cH3Comm{font-size:165%;}
		.cComCont{
			.cComContent{font-size: 96.4%;}
			.cUsr{a{font-size:117%;}}
			.cTimestamp{font-size:89.3%;}
			.cSpnComEn{font-size:89.3%;}
			.cComFrmCont{
				.cNwComFrm{}
				.cH5ComFrm{
					margin-left:2%;
					font-size:117%;
				}
				.cTxtAComFrm{font-size:96%;;min-height: 9em;}
				.cPstComBtn{
					width: 16%;
					left: -2%;
					font-size:96%;
				}
			}				
		}
	}	
}

@media screen and (min-width: 1200px) and (max-width: 1920px){
/* error strip on top of iPageCont */
	.cDErr{
		font-size:130%;
	}
/* errors partial */
	#error_explanation{
		font-size: 45%;
		
		.cAlertErrors{
			height:2em;
		}
		ul li{
		}
	}
/* main menu */
	.cLiMenu{
		font-size: 150%;
	}
/* footer menu */
	.cUFootMenu li{
		font-size: 123%;
	}
	.cFLiMenu{
		font-size: 110%;
	}
	.cDFCred{
		font-size:120%;
	}
/* fashion_trendz_user_edit_path */
	.cUpProf{

		h1{
			text-align: center;
		}
		.cNm, .cEm{
			font-size: 98%;
		}
	}
	.cUpForm{
		width:60%;
		display:block;
		margin:auto;
	}
	/* profile page 
	.cProfH4{font-size:150%;}
	.cAccInfoSideWrap{
		.user_info{p{font-size:100%;}}	
	}
	*/
	/* for angular comment edit partial
			user profile page */
#iAngProfPg{
	margin: 4% 6%;
	.cAngComFrmProfPg{.cSpComFrm{margin: 0px 0px 2%;display: block;font-size: 107%;
}}
	.cSpComAngErr{margin-bottom: 2%;font-size:95%;text-align: center;}
	.cInAngComFrm{font-size: 84%;}
	.cBtnAngComFrm{margin-top: 2%;margin-bottom: 1%;font-size: 97%;}
	.cTabAngIdxCom{.cTabHAngIdxCom{font-size:98%;}}	
	.cAngTblCom{font-size: 104%;}
}
	/* submit new post on user profile page */
	#iPstWriteWrapper{}
	.cPstWriteCont{
		.cH2NwPst{
			font-size: 295%;
			margin: 6% 0px 19px;
		}
		#iPstWrite{
			.cPstTxtFld{
				font-size: 104%;
				min-height: 2.4em;
			}
		}
		.cPstFrm{
			width: 90%;
			margin: auto;

			.cH5PstFrm{
				font-size: 148%;
			}
			.cPostTxtA{
				font-size: 96.5%;
				min-height: 42em;
			}
			.cPostCatChoices{font-size: 108%;}
			.cPostBtn{
				width: 22%;
				font-size: 101%;		
			}
		}
	}
/* index for users */
.cIdxWrap{
		h1{font-size:230%;}
		.cIdx{font-size:140%;}
	}
/* profile page */
	.cProfH4{
		font-size:220%;
		font-weight:lighter;
	}
	.cAccInfoSideWrap{
		.user_info{p{font-size:140%;}}	
	}	
/* login page */
	.cRowSignUpCont{
		.cDSignUp h1{font-size:230%;}
		.cDSignUp p{font-size:125%;}
		.cPSignUp{font-size:92%;}
		.cFormSignUp{
			label{font-size:109%;}
			.form-control2{font-size:100%;}
			.cRemSpn{font-size:90%;}
			.cSignUpBtn{font-size:90%;}
		}
	}
/* home page: posts */
/* home page: posts */
	.cSide2WrapperResp{
		display:visible;
	}
	.cSide1HomeWrapper{
		width: 105%;
		margin-top: 6%;

		.cSide2InfoSoc{h4,h5,a{font-size:109%;}}
		.cSide2InfoPost{h4,p,a{font-size:109%;}}
	}
/* css for angular portion */
	.cAngDivHmPg{
		margin:9% 0 5% 0;
		.cH4AngEdCom{font-size:105%;}
		.cErrAngEdCom{font-size:105%;}
		.cSucAngEdCom{font-size:105%;}
		.cFrmAngEdCom{
			.cSpAngTit{margin-bottom:2%;font-size:113%;}
			.cTxtADvAngEdCom{
				textarea{
					width:75%;
					font-size:99%;
					border-radius:6%;
					min-height: 6em;
				}
			}
			.cSubAngEdCom{
				.cAFrAngEdCom{font-size:105%;}
				.cBtnFrAngEdCom{font-size:105%;}
			}
		}
	}
	.cPostSec{
		.cHomeH1{
			padding-bottom:3%;
			font-size:280%;
		}
		.cPost{
			line-height:134%;
			margin:0 0 2% 0;

			p::first-letter{
				font-size:135%;
			}
			.cPstTl{
				font-size:300%;
				margin-top:5%;
				margin-bottom:5%;
			}
			.cPostDate{
				font-size:90%;
				margin-bottom:3%;
			}
			.cPostDesc{
				font-size:150%;
				font-weight:900;
			}
			.cCont{
				font-size:110%;
			}
		}
	}
	.cSide2Wrapper{

		.cSide2Cont{}
		.cSide2Img{}
		.cSide2Info{padding:0 3% 0 3%;}
	}
/* for side on show post page */
.cSide2WrapperPost{
	left:-5%;

	.cSide2ImgPost1{left:0.5em;}
	.cSide2ImgPost2{left:-0.5em;}

	.cSide2InfoSoc{
		height:16em;
		margin:2% 0 2% 0;

		h4{font-size:123%;font-weight:bold;}
		p{font-size:97%;}
		a{font-size:100%;}
	}
	.cSide2InfoPost{
		height:20em;
		margin:2% 0 2% 0;
		h4{font-size:116.5%;font-weight:bold;}
		.cPopCom{font-size:99%;}	
	}
}
	/* dresses and jeans */
	.cDresJnH1{
		margin-bottom:7%;
		font-size:360%;
	}
	.cDresJnWrapper{
		position:relative;
		width:100%;
		padding:5%;

		.cDresJn{
			line-height:110%;
			font-size:130%;	
		}
	}
/* handbags */
	.cHndbgH1{
		margin-bottom:7%;
		font-size:360%;
	}
	.cHndbgWrapper{
		position:relative;
		width:100%;
		padding:5%;

		.cHndbg{
			line-height:110%;
			font-size:110%;	
		}
	}
/* makeup */
	.cMkupH1{
		margin-bottom:7%;
		font-size:360%;
	}
	.cMkupWrapper{
		position:relative;
		width:100%;
		padding:5%;

		.cMkup{
			line-height:110%;
			font-size:110%;	
		}
	}
/* shoes */
	.cShoesH1{
		margin-bottom:7%;
		font-size:360%;
	}
	.cShoesWrapper{
		position:relative;
		width:100%;
		padding:5%;

		.cShoes{
			line-height:110%;
			font-size:110%;	
		}
	}
/* comments for each post */
/* some of these classes are
located in _post.html.erb and 
some are in _comment.html.erb */
	.iComWrapper{
		.cH3Comm{font-size:165%;}
		.cComCont{
			.cComContent{font-size: 96.4%;}
			.cUsr{a{font-size:117%;}}
			.cTimestamp{font-size:89.3%;}
			.cSpnComEn{font-size:89.3%;}
			.cComFrmCont{
				.cNwComFrm{}
				.cH5ComFrm{
					margin-left:2%;
					font-size:124%;
				}
				.cTxtAComFrm{font-size:102%;min-height: 10em;}
				.cPstComBtn{
					width: 14%;
					left: -2%;
					font-size:102%;
				}
			}			
		}
	}	
} 
/*@media screen and (min-width: 971px) and (max-width: 1034px){
}
@media screen and (min-width: 1035px) and (max-width: 1290px){
}
@media screen and (min-width: 1291px) and (max-width: 1992px){
}
*/

html{ font-size: 100%;}
body{ background-color:black;}
header{
	width:100%;
}

/* css for first 2 div of ALL pages
	iPageWrap iPageCont */

#iPageWrap{
	position: relative;
	display: inline-block; 
	background-color: #CECECE;
	width: 100%;
}
#iPageCont{
	display: block;
	position: relative;
	min-height:25em;
	width:  90%;
	margin: 0.25% auto 0 auto;
	padding: 1.75% 0;
	background-color: #D8F8E6;
	padding-bottom:4%;

	/* error strip on top of iPageCont */
	.cDErr{
		font-family:e;
	}	
}
