#iHeaderCont{
	position:relative;
	width: 100%;
	background-color: #EA7DF2;
}
#iHeaderTopDiv{
	display: block;	
	position: relative;
}
.cHeader{
	position: relative;
	display: block;
	width:100%;

	.cHeaderImgLogo{
/*	float:left; */
	}
	.cHeaderTxtLogo{
		position:relative;
		padding: 3% 0 0 0;
	}
	img{
		position: relative;
		display: block;
		margin: 0.4% 0 0 0.4%;
	}	
	a{
		text-decoration: none;
		position: relative;
		display: inline-block;
	}
	a:link{
		text-decoration: none;
		color:rgba(0, 0, 0, 0.67);
	}
  a:visited{
		text-decoration: none;
	}
  a:active{
		text-decoration: none;
	}
  a:hover{
		text-decoration: none;
		color: rgba(0, 0, 0, 0.67);
	}	
}
.cHeaderH1{
	font-family: aa;
	font-weight: 600;
	font-size: 350%;
	font-stretch: extra-expanded;
}

/* upper-right corner menu */
#iDLgd{
	position:relative;
	float: right; 
	background-color: #92FF3F;
	height: 2em;
	border-radius:40%;

	a:link{
		text-decoration: none;
		color: #033B65;
	}
	a:hover{
			text-decoration:none;
	}

	li{
		list-style-type: none;
		display:inline;
		font-family:e;
	}
}