/* some of these classes are
located in _post.html.erb and 
some are in _comment.html.erb */

.iComWrapper{
	background-color: #D1EFCB;
	border-left:0.1em solid #A57782;
	border-right:0.1em solid #A57782;
	border-bottom:0.1em solid #A57782;
	border-bottom-left-radius:5%;
	border-bottom-right-radius:5%;
	border-top-right-radius:5%;
	margin-top:6.5%;

	.cH3Comm{
		position:relative;
		display:inline-block;
		padding:0 0 2% 2%;
		font-family:j;
	}
	.cComCont{
		.cComFrmCont2{
			/* specifically for comment form at _comments
					for edition a comment */
			.cTxtAcomFrm2{background-color:#BFFCB3;}
					margin-bottom:13%;				
		}
		.cComFrmCont{
			.cNwComFrm{}
			.cH5ComFrm{
				font-family:e;
				margin-left:2%;
				font-size:118%;
				color:green;
			}
			.cTxtAComFrm{
				width:95%;
				margin: 0 auto 3% auto;
				position: relative;
				display: block;
				font-size:98%;
				font-family:n;
				color: #9B6060;
			}
			.cPstComBtn{
				width: 17%;
				float: right;
				position: relative;
				left: -5%;
				font-family:f;				
			}
		}
		.cComContent{
			margin:1% 3% 1% 3%;
			font-family:l;
		}
		.cSpnComEn{
			position:relative;
			float:right;
			margin:3% 3% 0 0;
			font-family: l;
			color:green;
			&:hover{
				color:blue;
			}
		}
		.cComImgLk{}
		.cPUsrPic{margin-left:1%;}
		.cProfImg{border:0.275em solid black;}
		.cUsr{display:block;margin:1% 0 0 0;
			a{text-decoration: none;
				font-family:e;
			}
		}
		.cTimestamp{
			position:relative;
			float:right;
			right:5%;
			font-family:l;
			}
	}
}
