// Place all the styles related to the Trendz_Blog_Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";

/* */
@mixin box_sizing {
	-moz-box-sizing:		border-box;
	-webkit-box-sizing: border-box;
	box-sizing:					border-box;
}

/* placing css for controller: trendz_blog_users, action: show
 instead of own file....for now */

 /* trendzUsers profile */
#iUsrProfWrapper{
		.cProfH4{
		font-family: e;
		text-align:center;
		font-size:270%;
	}
	.cAccInfoWrapper{
		margin-right: 2%;
		.cUsrInfoGnrl{
			font-family: e;
			font-size: 120%;
			clear: right;

			.cUsrNm{
				font-size: 100%;
				display: block;
				text-align: right;
			}
			.cUsrEm{
				display: block;
				text-align: right;
			}
			.cUsrCreat{
				display: block;
				text-align: right;
			}
		}		
		.cUsrInfoCont{}
		.cUsrInfo{
			.cProfImg{
				text-align: right;
				position: relative;
				display: block;
				float: right;
				margin: 0% 0% 3% 0;
			}
			.cPstNbr{
				font-family:f;
				position:relative;
				text-align: right;
				display: block;
			}				
		}
	}	
}
.cUsrProfCont{
	border-right: 0.1em solid black;
}

/* for angular comment edit partial
			user profile page */
#iAngProfPg{
	margin: 3% 6%;

/* for index of comments from profile */
	.cAngTabIdxComCont{}
	.cAngComFrmProfPg{
		margin: 1% 0 3% 0;
		.cSpComFrm{
			font-family: j;
			margin-right: 3%;
		}
		.cSpComAngErr{
			background-color:#F2B5B5;
			font-family:f;
			border-radius: 17%;
		}
	}
	.cInAngComFrm{background-color: #FCDA8F;font-family:m;}
	.cBtnAngComFrm{font-family: f;}

	table{
		margin: auto;
		width: 95%;
		background-color: #E0F7A5;
	}
	.cTabAngIdxCom{
		.cTabHAngIdxCom{font-family: j;}
	}
	.cAngTblCom{font-family: f;}

/* for editing comments from profile

	border:1px solid red;
	.cAngEdComProfPag{
		border:1px solid green;
		.cH4AngEdCom{}

	}*/
}

/* css for partial: 'posts/post'
		visible at 'fashion_trendz_user/show' */
#iPstWriteWrapper{}
.cPstWriteCont{
	margin: 2% 0 2% 0;

	.cH2NwPst{
		font-family: e;
		font-size: 297%;
		color: rgb(9, 128, 90);
		text-align: center;
	}
	#iPstWrite{
		.cPstTxtFld{
			min-height: 3em;
			font-family: f;
			border-radius: 38%;
		}
	}
	.cPstFrm{
		width: 90%;
		margin: auto;		
		.cH5PstFrm{
			display:block;
			font-family:e;
			margin-left:2%;
			font-size:118%;
			font-weight:normal;
			color:green;
		}
		.cPostTxtA{
			position: relative;
			display: block;
			width:95%;
			margin: 0 auto 3% auto;
			font-size:98%;
			font-family:n;
			color: #9B6060;
			border-radius: 0 13% 13% 13%;
			min-height: 33em;
			padding: 1% 3% 3% 1%;
		}
		.cPostCatChoices{
			position:relative;
			left:6%;
		}
		.cRad{
			color:#7301F2;
			font-family:f;
			font-weight:normal;
			font-size:100%;
		}
		.cPostBtn{
			width: 17%;
			float: right;
			position: relative;
			left: -5%;
			font-family:f;				
		}
	}
}

/* sign up page 
(in trendz_sessions.css*/

/* errors partial in _error_messages.html.erb */
#error_explanation{
	font-family: a;

	.cAlertErrors p{
		text-align:center;
	}
	.cErUlWrap{

	}
	.cErUlWrap ul{
		color: red;
		margin: 1% 0 2% 0;
	}
}
.field_with_errors{
	@extend .has-error;
}
.alert-danger2{
	border-radius: 3em;
	color: #800000;
}

/*viewing users */
.users{
	list-style: none;
	margin: 0;
	li{
		overflow:auto;
		padding: 1em 0;
		border-bottom: 0.1em solid $gray-lighter;
	}
}

/* edit profile fashion_trendz_user_edit_path */
.cUpProf{
	h1{font-family:e;}
	.cUpForm{font-family: e;}
	.cNm, .cEm{font-family: t;}
}
/* gravatar_edit */
.gravatar_edit{}

/* index, view for all users */
.cIdxWrap{
	font-family:e;

	h1{
		text-align:center;
		color:purple;
	}
	ul{padding-left:10%;}
	.cIdxImgWrap{
		width: 12%;
		border:0.1em solid gray;
	}
}
