@font-face{
	font-family: 'articleBody';
	src: url('fonts/SourceSansPro-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'carbonType';
	src: url('fonts/carbontype.woff')  format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'quote';
	src: url('fonts/belligerent.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'MainTitle';
	src: url('fonts/architectsDaughter.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'postPreview';
	src: url('fonts/Caviar_Dreams_Bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'a';
	src: url('fonts/action_Man_Extended_Italic.woff') format('woff');
	font-weight: normal;	
	font-style: normal;
}
@font-face{
	font-family: 'b';
	src: url('fonts/action_Man_Italic.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'c';
	src: url('fonts/action_Man_Shaded.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'd';
	src: url('fonts/action_Man_Shaded_Italic.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'e';
	src: url('fonts/architectsDaughter.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'f';
	src: url('fonts/ArchivoNarrow-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'g';
	src: url('fonts/blackCasper.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'h';
	src: url('fonts/CaviarDreams.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'i';
	src: url('fonts/CooperHewitt-Medium-Book.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'j';
	src: url('fonts/CooperHewitt-Heavy.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'k';
	src: url('fonts/CooperHewitt-Light.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'l';
	src: url('fonts/CooperHewitt-Medium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'm';
	src: url('fonts/Gaspar_Bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'n';
	src: url('fonts/Gaspar_Bold_Italic.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'o';
	src: url('fonts/gasparRegular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'p';
	src: url('fonts/Gaspar_Regular_Italic.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'q';
	src: url('fonts/Gidole-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'r';
	src: url('fonts/newsCycle-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 's';
	src: url('fonts/SourceSansPro-Semibold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 't';
	src: url('fonts/SourceSansPro-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'u';
	src: url('fonts/Caviar_Dreams_Bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'v';
	src: url('fonts/carbontype.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'w';
	src: url('fonts/belligerent.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'x';
	src: url('fonts/architectsDaughter.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'y';
	src: url('fonts/condiment.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'z';
	src: url('fonts/viga-regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'aa';
	src: url('fonts/handwriting.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

/*
@font-face{
	font-family: '';
	src: url('fonts/.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: '';
	src: url('fonts/.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: '';
	src: url('fonts/.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: '';
	src: url('fonts/.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
.a{font-family: a;}
*/