/* for debug under footer */
@mixin box_sizing {
	-moz-box-sizing:		border-box;
	-webkit-box-sizing: border-box;
	box-sizing:					border-box;
	color:							red;
}

#footer{
	position: relative;
	display: block;
	width: 100%;
	height: 15em;
	background-color: black;
	font-family:w;

	#iFooterCont{
		display: block;
		position: relative;
	}
}
.cDFCred{
	display:inline-block;
	margin-top: 2%;
	float:right;

	.cDFCred p,ul{
		list-style-type: none;		
		font-family:f;
	}
}
.cFooterMenu{
	position: relative;
	display: inline-block;
	margin-top: 2%;

	.cFLiDrop2{
		padding-top: 3%;
	}
	ul{
		list-style-type: none;
	}
}

.iSecFootMenu, .iSecFootMenu2{
	margin: 2%;
	line-height: 1em;

	li{
		margin:	1%;
	}
	a:link{
		text-decoration: none;
	}
	a:hover{
		text-decoration: none;
		color:red;
	}
	a:active{
		text-decoration: none;
		color: #ffd800;
	}

}
#iSecFootMenu2{
	ul li{
			padding-top: 4%;
		}
}

/* for debug under footer */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 2em;
  @include box_sizing;
}
/* for debug under footer */