.cMenuCont{
		background-color: #92FF3F;
		width:100%;
		border-radius:43%;
}
.cMenu{

	li{
		display:inline;
	}
	ul{
		margin:auto;
	}
}
.cLiMenu{
	font-family: e;
	font-weight: bold;
	list-style-type: none;

	.cBagG{
		color:#ff6a00;
	}
	a:link{
		text-decoration: none;
		color: #030196;
	}
	a:visited{
		text-decoration: none;
	}
	a:active{
		text-decoration: none;
	}
	a:hover{
		text-decoration: none;
		background-color: rgba(230, 244, 160, 0.60);
		color: rgba(0, 0, 0, 0.67);
	}
}
.cMainMenu{
	a{
		color: #0026ff;
		text-decoration: none;
	}
}
.cLiMainMenu{
/*	height: 2.5em; */
}