// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.iHmPgWrapper{}
.cHmPgCont{}

/* css for angular portion */
.cAngDivHmPg{

	margin:7% 0 5% 0;
	.cH4AngEdCom{font-family:j;margin-left:1%;}
	.cErrAngEdCom{
		font-family:e;
		font-size:107%;
		width:73%;
		background-color:#F2DEDE;
		margin:auto;		
	}
	.cSucAngEdCom{
		font-family:e;
		font-size:107%;
		width:73%;
		background-color:#F2DEDE;
		margin:auto;
	}
	.cLbContFrAngEdCom{}
	.cAFrAngEdCom{}
	.cBtnFrAngEdCom{}
	.cFrmAngEdCom{
		width:95%;
		margin:auto;

		.cSpAngTit{
			display:block;
			margin-bottom:1%;
			font-family:e;
			font-size:120%;
			color:green;
		}
		.cTxtADvAngEdCom{
			textarea{
				width:55%;
				background-color: #ECEF88;
				font-family: n;
				font-size:100%;
				border-radius:3%;
			}
		}
		.cSubAngEdCom{
			margin:1% 0 0 1%;
			.cAFrAngEdCom{font-family:f;}
			.cBtnFrAngEdCom{font-family:f;}
		}
	
	}
}

/* Post part of home page.
Page contains 3 main
sections: 2 sidebars, 
1 main post section */
.cPostSec{
	background-color: #EFCE6B;
	padding-bottom: 2%;
	border-top-left-radius:2.3%;
	border-top-right-radius:2.3%;

	.cHomeH1{ 
		position:relative;
		padding-top:1.5%;
		padding-bottom:1%;
		font-family:h;
		text-align:center;
		color:#1814E8;
		font-weight:bold;
		font-size:300%;
	}
	.cPostWrapper{
		margin:0 3% 3% 3%;
	}
	.cPostCont{
		margin:0 3% 3% 3%;
	}
	.cPost{
		margin:5% 0 7% 0;
		padding:0.5% 3% 3% 3%;
		text-align:justify;
		line-height:132%;
		border-radius: 3%;

		p::first-letter{
			font-size:200%;
		}

		.cPstTl{
			position:relative;
			color:violet;
			text-align: center;
			font-family:y;
			font-size:280%;
			margin-top:5%;
			a{
				color:violet;
				text-decoration: none;
			}
		}
		.cPostDate{
			color:red;
			float:right;
			margin:2% 0 0 12%;

		}
		.cPostDesc{
			margin-bottom:3%;
			font-family:u;
		}
		.cCont{
			font-family:t;
			text-indent:7%;
			margin-top:3%;
		}

	}
/* class for color of posts per category */
	.dressesAndJeans{
		background-color: #A5F259;
	}
	.handbags{
		background-color:#59E8F2;
	}
	.makeup{
		background-color: lightblue;
	}
	.shoes{
		background-color: #EAE179;
	}
}

.cSide1Wrapper{
	position:relative;
	left:9%;
	word-break:break-all;

	.cSide1Cont{
		overflow:hidden;
	}
	.cSide1Img{
			img{
				width:100%;
			}		
	}
	.cSide1Info{
		position:relative;
		top:20%;
		height:13em;
		border:0.1em double #9689B7;
		margin:2.5% 0 2.5% 0;
		padding:0 3% 0 3%;
		text-align:center;		
		
		h4{}
		p{color:red;}
	}
}
/* post home page side bar */
.cSide1HomeWrapper{
	position:relative;
	margin: 2% 0px 0px 2%;
	padding: 0 2% 0 2%;
	word-break:break-all;	
	width: 120%;

	.cSide2ImgPost1{
		left:0.5em;
		img{width:100%;}
	}
	.cSide2ImgPost2{
		left:-0.5em;
		img{width:100%;}
	}
	.cSide2InfoSoc{
		top:16%;
		height:16em;
		margin:2.5% 0 2.5% 0;
		h4,h5{font-family:n;}
		p{font-family:f;}
	}
	.cSide2InfoPost{
		top:20%;
		height:20em;
		margin:2.5% 0 2.5% 0;
		padding:0 3% 0 3%;	
		h4{font-size: 89%;font-family:n;}
		p{font-family:f;}	
		a{display:block;font-family:n;margin:0 0 2% 0;}
		a:hover{text-decoration:none;}			
	}
}
/* other pages side bar */
.cSide2Wrapper{
	margin: 0 10% 0 -10%;
	word-break:break-all;

	.cSide2Cont{
		overflow:hidden;
	}
	.cSide2Img{
			img{
				width:100%;
			}		
	}
	.cSide2Info{
		position:relative;
		top:20%;
		height:13em;
		border:0.1em double #9689B7;
		margin:2.5% 0 2.5% 0;
		text-align:center;
		padding:0 3% 0 3%;	
		
		p{color:red;}
	}
}
/* for side on show post page */
.cSide2WrapperPost{
	position:relative;
	right:1em;
	word-break:break-all;

	.cSide2ImgPost1{
		position:relative;
		left:0.5em;
		img{width:100%;}
	}
	.cSide2ImgPost2{
		position:relative;
		left:-0.5em;
		img{width:100%;}
	}

	.cSide2InfoSoc{
		position:relative;
		top:16%;
		height:16em;
		border:0.1em double #9689B7;
		margin:2.5% 0 2.5% 0;
		text-align:center;
		padding:0 3% 0 3%;
		a{text-decoration:none;}
		h4{font-family:f;}		
	}
	.cSide2InfoPost{
		position:relative;
		top:20%;
		height:20em;
		border:0.1em double #9689B7;
		margin:2.5% 0 2.5% 0;
		text-align:center;
		padding:0 3% 0 3%;			
	}
}

/* dresses and jeans */
.cDresJnH1{
	text-align:center;
	font-family:h;
	font-weight:bold;
	color:blue;
}
.cDresJnWrapper{
	width:100%;
	background-color:#C9B3E5;
	border-radius:4%;
	padding:3%;
	font-weight:lighter;
}
.cDresJnCont{}
.cDresJn{
	font-family:w;
	font-size:120%;
}

/* handbags */
.cHndbgH1{
	text-align:center;
	font-family:h;
	font-weight:bold;
	color:blue;
}
.cHndbgWrapper{
	background-color:#E7F276;
	border-radius:4%;
	padding:3%;
	font-family:w;
	font-size:120%;
	font-weight:lighter;
}
.cHndbgCont{}
.cHndbg{}

/* makeup */
.cMkupH1{
	text-align:center;
	font-family:h;
	font-weight:bold;
	color:blue;
}
.cMkupWrapper{
	background-color:#44F450;
	border-radius:4%;
	padding:3%;
	font-family:w;
	font-size:120%;
	font-weight:lighter;
}
.cMkupCont{}
.cMkup{}

/* shoes */
.cShoesH1{
	text-align:center;
	font-family:h;
	font-weight:bold;
	color:blue;
}
.cShoesWrapper{
	background-color:#EDA540;
	border-radius:4%;
	padding:3%;
	font-family:w;
	font-size:120%;
	font-weight:lighter;
}
.cShoesCont{}
.cShoes{}