// Place all the styles related to the TrendzSessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* sign up page */
.cRowSignUpCont{

	.cDSignUp h1{
		font-family:e;
		text-align:center;
		color:#B255C6;
	}
	.cDSignUp p{
		text-align:center;
		font-family:e;
		color:maroon;
	}
	.cPSignUp{
		display:block;
		width:90%;
		margin:3% 0;
		font-family: l;
		padding-left:3%;
	}
}
.cFormSignUp{
	text-align:left;
	display:block;
	margin:2% auto;
	width:40%;	

	label{
		font-family: e;
		color: #E65C8A;
	}
	.cSignUpBtn{
		position: relative;
		display: block;
		width: 25%;
		margin: auto;
	}
	.cSignUpField{
		border: 0.1em solid #bbb;
		margin-bottom: 0.3em;
	}

	.form-control2{
		color: green;
		font-family:o;
	}
}


/* remember me checkbox and span */
.cCkBxLgIn{

	span{
		font-weight: normal;
	}
}
#session_remember_me{
	width: auto;
	margin-left: 0;
}