	<!-- AngularJs partial
			-for editing comments
			-used by $routeProvider
				*controller
					+commentsEditCtl
			-used independently with a directive
				*controller
					+commentsEditCtl2
			-uses ng-if on form to display components as needed	
			-currently in
				*root page (directive) 
				*profile page ($routeProvider) (logged in)
-->
	<div class="cAngEdComProfPag">
	<h4 class="cH4AngEdCom">Comment via AngularJs</h4>

	<!-- for errors with submission via angular -->
	<div class="cErrAngEdCom" ng-if='postComErr'>
		<ul>
			<li ng-repeat="err in postComErr">{{err}}</li>
		</ul>
	</div>
	<!-- if post successful -->
	<p class="cSucAngEdCom" ng-if='succ' ng-bind="succ"></p>
	<p class="cSucAngEdCom" ng-if='sec'>ANGULAR REDIRECT IN: <span style="color:red;font-weight:bold">{{sec}}</span> seconds</p>
	<!-- for ediiing new/existing comment -->
	<form name="form" class="cFrmAngEdCom" novalidate>	
		<div class="cTxtADvAngEdCom" ng-class="errCssClass('content')">
			<label class="cLbContFrAngEdCom" for="content"></label>
			<span class="cSpAngTit">Angular Comment: </span>
			<div class="">

	<!-- for content of comment-->
			<textarea type="text" ng-model="comment.content" name="content" placeholder="comment content" ng-bind="comment.content" required />
			</div>
		</div>

	<!-- for fashion_trendz_user_id of comment-->
		<div style="display:none" ng-class="errCssClass('fashion_trendz_user_id')">
			<label class="cLbContFrAngEdCom" for="fashion_trendz_user_id"></label>
				<input type="hidden" ng-model="comment.fashion_trendz_user_id" name="fashion_trendz_user_id" >
		</div>

	<!-- for post id of comment-->
		<div style="display:none" ng-class="errCssClass('post_id')">
			<label class="" for="post_id"></label>
				<input type="hidden" ng-model="comment.post_id" name="post_id">
		</div>

	<!-- for submitting form-->
			<div class="cSubAngEdCom">
				<button class="cBtnFrAngEdCom btn btn-success" ng-if="canbool" ng-click="cancel()">Cancel</button>
				<button ng-click="submit()" class="cBtnFrAngEdCom btn btn-success">Save</button>
			</div>
	</form>
</div>