<!--  
	Angular JS partial
		-to list all comments
		-currently in
			*profile page (logged in)
		-controller:
			*commentsIndxCtl
		-filter them by date added
		-angular live updating of template
-->

<div class="cAngTabIdxComCont">

<form class="cAngComFrmProfPg" name="frm">
	<span class="cSpComFrm">View all your Comments via AngularJs<small style="display:block;">filter by Date,  (try 2016-01-01 to 2016-01-30)</small></span>
		
	<!-- -->
	<div ng-if="(!frm.datUp.$valid || !frm.datLow.$valid)">
	<span class="row">
		<span class="cSpComAngErr col-xs-9 col-xs-offset-1">
			You must enter a date in the form: YYYY-MM-DD
		</span>
	</span>
	</div>
	<div class="row">
		<input class="col-xs-3 col-xs-offset-2 col-md-2 col-md-offset-1  col-lg-2 col-lg-offset-1 cInAngComFrm" ng-model="datUp" name="datUp" ng-pattern='regex' placeholder="YYYY-MM-DD"/>
		<input class="col-xs-3 col-xs-offset-2 col-md-2 col-md-offset-1 col-lg-2 col-lg-offset-1 cInAngComFrm" ng-model="datLow" name="datLow" ng-pattern='regex' placeholder="YYYY-MM-DD"/>
		<button class="col-xs-2 col-xs-offset-4 col-md-2 col-md-offset-1  col-lg-1 cBtnAngComFrm" type="button" ng-click="submit()">submit</button>
	</div>

</form>

	<p class="cSucAngEdCom" ng-if='succ'>{{succ}}</p>
	<p class="cSucAngEdCom" ng-if='sec'>Updating comments in ... <span style="color:red;font-weight:bold">{{sec}}</span> seconds</p>

	<div class="table-responsive cTabAngIdxCom">

<uib-pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>

		<table class="table table-bordered table-hover table-condensed">
			<thead class="cTabHAngIdxCom">
			<td>Id.</td>
			<td>Post Id.</td>
			<td>Content</td>
			<td>Created</td>
			</thead>
		<tbody>

		<tr class="cAngTblCom cTabAngIdxCom" ng-repeat="com in coms.slice(((currentPage - 1) * itemsPerPage), ((currentPage) * itemsPerPage))" idx="{{$index}}">
			<td ng-bind="com.id"></td> 
			<td ng-bind="com.post_id"></td>
			<td ng-bind="com.content"></td> 
			<td ng-bind="com.created_at | date:'MM-dd-yyyy @ h:mma'"></td>
			<td> 
				<a ng-click="del(com.id)">delete</a> | 
				<a ng-click="edt(com.id, com.post_id, com.fashion_trendz_user_id)">edit</a>
			</td>
		</tr>
			</tbody>
		</table>
		

	<!-- for bootstrap table responsiveness -->
	</div>	

</div>
