<!-- 
	AngularJs partial
		-to display comment retrieved from api (PostgreSql/Rals)
		-currently in:
			*profile page (logged in)
		-controller:
			*commentsShCtl
-->
<div>

<p class="cAngComSh" ng-bind="comment"></p>
<small ng-bind="creat"></small>
<small><input type="text" ng-value="comId" ng-model="comId"></small>
</div>

<br><br>


<div>
</div>
<br><br>