Hi <%= @fashion_trendz_user.name %>,

Welcome to the Fashion Trendz Blog. Please check the link below to activate your account and enjoy all the benefits of one dashboard for all your wardrove needs.

<%= edit_account_activation_url(@fashion_trendz_user.activation_token, email: @fashion_trendz_user.email ) %>
