<h1>Fashion Trendz Blog Activation Notice</h1>

<p>Hi <%= @fashion_trendz_user.name %>,</p>

<p>Welcome to the Fashion Trendz Blog. Please click the link below to activate your account and enjoy all the benefits of one dashboard for all your wardrove needs.</p>

<%= link_to "Account Activation", edit_account_activation_url(@fashion_trendz_user.activation_token, email: @fashion_trendz_user.email ) %>
