Fashion Trendz Blog Password Reset

To reset your password, use the link below:

<%= edit_password_reset_url(@user.reset_tok, email: @user.email) %>

This link will expire in 15 minutes.

If you did not request your password to be reset, please ignore this email and your password will stay as it is.