<h1>Fashion Trendz Blog Password Reset</h1>

</p>To reset your password, use the link below:</p>

<%= link_to "Password Reset", edit_password_reset_url(@user.reset_tok, email: @user.email) %>

<p>This link will expire in 15 minutes.</p>

<p>If you did not request your password to be reset, please ignore this email and your password will stay as it is.</p>
