<header>
	<div id="iHeaderCont">
		<div id="iHeaderTopDiv">
	    <div class="cHeader">

<!-- for bootstrap -->
<div class="container-fluid">
<!-- for bootstrap -->
<div class="row">

<!-- for logged in users -->
	<div id="iDLgd" class="cDLgd col-xs-6 col-md-6">
		<div class="row">			
			<ul class="cULgd ">

				<li class="dropdown cLiMenu col-xs-3 col-sm-3 col-md-3 col-lg-3" role="presentation">								
					<%= link_to '#', target: '_self', title: "Fashion trendz blog home page", rel: 'help',  class: "dropdown-toggle", :'data-toggle' => "dropdown", role: "button", :'aria-haspopup' => 'true', :'aria-expanded' => 'false' do %>
							<span class="visible-sm visible-md visible-lg caret">Guide</span><span class="glyphicon glyphicon-home visible-xs"></span>
					<% end %>						
					<ul class="dropdown-menu">
						<li class="cLiMenu">
							<%= link_to "Advice", '#', target: '_self', title: "latest Fashion trendz fashion advice", rel: 'help' %>
						</li>
						<li class="cLiMenu">
							<%= link_to "Guide", guide_path, target: '_self', title: "latest Fashion trendz cloting & accessories guide", rel: 'help' %>
						</li>
						<li class="cLiMenu">
							<%= link_to "Bios", bios_path, target: '_self', title: "latest Fashion trendz fashion world biographies", rel: 'help' %>
						</li>
					</ul>
				</li>												

<% if logged_in? %>								
				<li class="cLiMenu col-xs-3 col-md-3" role="presentation">
					<%= link_to logout_path, method: "delete", target: '_self', title: "latest Fashion trendz member log out", rel: 'help' do %>
							<span class="visible-sm visible-md visible-lg">Log-&gt;</span><span class="glyphicon glyphicon-log-out visible-xs"></span>									
					<% end %>
				</li>
				<li class="dropdown cLiMenu col-xs-3 col-md-3" role="presentation">
					<%= link_to '#', target: '_self', title: "latest Fashion trendz member log out", rel: 'help', class: 'dropdown-toggle', :'data-toggle' => 'dropdown', role: 'button', :'aria-haspopup' => 'true', :'aria-expanded' => 'false' do %>
							<span class="visible-sm visible-md visible-lg">Profile</span><span class="glyphicon glyphicon-user visible-xs"></span>
					<% end %>
						<ul class="dropdown-menu cULgd">
							<li class="cLiMenu">
								<%= link_to "Edit Profile", edit_fashion_trendz_user_path(current_fashion_trendz_user), target: '_self', title: "latest Fashion trendz contact information", rel: 'help'  %>
							</li>
							<li class="cLiMenu">
								<%= link_to "Profile", current_fashion_trendz_user, target: '_self', title: "latest Fashion trendz contact information", rel: 'help'  %>
							</li>										
						</ul>								
				</li>	
<% if current_fashion_trendz_user.admin == true %>
				<li class="cLiMenu col-xs-3 col-md-3" role="presentation">
					<%= link_to fashion_trendz_users_path, target: '_self', title: "fahion trendz user list", rel: 'help' do %>
						<span class="visible-sm visible-md visible-lg">Users</span><span class="glyphicon glyphicon-th-list visible-xs"></span>
					<% end %>
				</li>
<% end %>			
<% else %>
				<li class="cLiMenu col-xs-3 col-md-3" role="presentation">
					<%= link_to login_path, target: '_self', title: "Fashion trendz  log in", rel: 'help' do %>
							<span class="visible-sm visible-md visible-lg">Login</span><span class="glyphicon glyphicon-log-in visible-xs"></span>
					<% end %>
				</li>	
				<li class="cLiMenu col-xs-3 col-md-3" role="presentation	">
					<%= link_to signup_path, target: '_self', title: "Fashion trendz sign up", rel: 'help' do %>
							<span class="visible-sm visible-md visible-lg">Sign Up</span><span class="glyphicon glyphicon-pencil visible-xs"></span>
					<% end %>
				</li>															
<% end %>
					<li class="dropdown cLiMenu col-xs-3" role="presentation">		
					<%= link_to '#', target: '_self', title: "Fashion trendz info", rel: 'help',  class: "dropdown-toggle", :'data-toggle' => "dropdown", role: "button", :'aria-haspopup' => 'true', :'aria-expanded' => 'false' do %>
								<span class="visible-sm visible-md visible-lg caret">Info</span>
								<span class="glyphicon glyphicon-info-sign visible-xs caret"></span>
					<% end %>
					<ul class="dropdown-menu">
						<li class="cLiMenu">
							<%= link_to "Contact", contact_path, target: '_self', title: "latest Fashion trendz contact information", rel: 'help'  %>
						</li>
						<li class="cLiMenu">
							<%= link_to "About", about_path, target: '_self', title: "latest Fashion trendz website/blog information", rel: 'help'  %>
						</li>	
					</ul>
				</li>
			</ul>
		</div>
	</div>

	<!-- image logo -->
	<div class="cHeaderImgLogo col-xs-5 col-sm-4 col-md-4 col-lg-4 ">
		<%= link_to image_tag("latestFashionTrendzPictureLogo.png", alt: "Latest Fashion Trendz letter site logo", title: "Website logo", class: 'cLogoPic col-xs-12 col-sm-12 col-md-12 col-lg-12'), root_path, target: '_self', title:	"latest Fashion trendz blog home page", rel: 'help'	%>
	</div>
<!--  text logo -->
	<div class="cHeaderTxtLogo col-xs-7 col-sm-7 col-sm-offset-0 col-md-7 col-md-offset-0 col-lg-7 col-lg-offset-0 ">
		<%= link_to image_tag("latestFashionTrendzLetterLogo.png", alt: "Latest Fashion Trendz letter site logo", title: "Website logo", class: 'cLogoText col-xs-12 col-sm-12 col-md-12 col-lg-12'), root_path, target: '_self', title: 	"latest Fashion trendz blog home page", rel: 'help' %>			
	</div>

<!-- bootstrap row -->
</div>
<!-- bootstrap container-fluid</div> -->


	<!--MENU CONTAINER -->
	<div id="iMenuCont" class="cMenuCont">
<!-- for bootstrap<div class="container-fluid"
 -->
<!-- for bootstrap -->
<div class="row">
	<div class="cMenu " role="group">			
		<ul class="cUMenu col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<li class="cLiMenu col-xs-2 col-sm-2 col-md-2 col-lg-2">
				<%= link_to root_path, target: '_self', title: "latest Fashion trendz member log out", rel: 'help' do %>
						<span class="visible-sm visible-md visible-lg">Home</span><span class="glyphicon glyphicon-home visible-xs"></span>	
				<% end %>								
			</li>

			<li class="cLiMenu col-xs-2 col-sm-2 col-md-3 col-lg-3">
				<%= link_to dressesAndJeans_path, target: '_self', title: "latest Fashion trendz handbag sale", rel: 'help' do %>
					<span class="visible-sm visible-md visible-lg">Dresses/Jeans</span><span class="visible-xs cBagG"><%= image_tag 'dress.png' %></span>
				<% end %>
			</li>
			<li class="cLiMenu col-xs-2 col-sm-2 col-md-2 col-lg-3">
				<%= link_to handbags_path, target: '_self', title: "latest Fashion trendz handbag sale", rel: 'help' do %>
					<span class="visible-sm visible-md visible-lg">Handbags</span><span class="visible-xs cBagG"><%= image_tag 'bag.png' %></span>
				<% end %>
			</li>
			<li class="cLiMenu col-xs-2 col-sm-2 col-md-2 col-lg-2">
				<%= link_to makeup_path, target: '_self', title: "Fashion trendz make up tips", rel: 'help' do %>
					<span class="visible-sm visible-md visible-lg">MakeUp</span><span class="visible-xs cBagG"><%= image_tag 'makeup.png' %></span>
				<% end %>
			</li>
			<li class="cLiMenu col-xs-2 col-sm-2 col-md-2 col-lg-2">
				<%= link_to shoes_path, target: '_self', title: "Fashion trendz shoes, shoes, shoes!!!", rel: 'help' do %>
					<span class="visible-sm visible-md visible-lg">Shoes!</span><span class="visible-xs cBagG"><%= image_tag 'shoes.png' %></span>
				<% end %>
			</li>		
		</ul>

	</div><!-- end of cMenu -->
				</div><!-- for bootstrap -->
			</div><!-- for bootstrap -->
		</div><!-- end of iMenuCont -->
	</div><!-- bootstrap -->
</div><!-- end of cHeader -->
</div><!-- end of iHeaderTopDiv -->	
</div><!-- end of iHeaderCont -->
</header>