<footer id="footer">

<!-- for bootstrap -->
<div class="container-fluid">
<!-- for bootstrap -->
<div class="row">

    <div class="cDFCred col-xs-5 col-xs-2 col-md-3 col-lg-3">
      <span class"cSpCred">Web Services</span>
      <%= link_to 'RunTechServices.com', "http://www.RunTechServices.com", target: '_blank', title: "Web Master", rel: 'external', class: 'cWbMstr' %>
    </div>

		<div class="cFooterMenu col-xs-7 col-sm-7 col-sm-7 col-lg-7">
<div class="row">
  			<section class="iSecFootMenu col-xs-4 col-sm-6 col-md-6 col-lg-6">
          <ul class="cUFootMenu">
            <li class="cFLiMenu">
              <%= link_to 'Home', home_path, target: '_self', title: "latest Fashion trendz home page", rel: 'help' %>
            </li> 
              <%= link_to 'Dresses/Jeans', dressesAndJeans_path, target: '_self', title: "latest Fashion trendz handbag sale", rel: 'help' %>
            </li>          
            <li class="cFLiMenu">
              <%= link_to 'Handbags', handbags_path, target: '_self', title: "latest Fashion trendz handbag sale", rel: 'help' %>
            </li>
            <li class="cFLiMenu">
              <%= link_to 'MakeUp', makeup_path, target: '_self', title: "Fashion trendz make up tips", rel: 'help' %>
            </li>
            <li class="cFLiMenu">
              <%= link_to "Shoes!", shoes_path, target: '_self', title: "Fashion trendz shoes, shoes, shoes!!!", rel: 'help' %>
            </li>                                                       

  <!-- for logged in users -->
  <% if logged_in? %>               
            <li class="cFLiMenu" role="presentation">
              <%= link_to 'Log Out!', logout_path, method: "delete", target: '_self', title: "latest Fashion trendz member log out", rel: 'help' %>
             </li>
            <li class="cFLiMenu" role="presentation">
              <%= link_to 'Profile', current_fashion_trendz_user, target: '_self', title: "latest Fashion trendz member log out", rel: 'help' %>
            </li> 
    <% if current_fashion_trendz_user.admin == true %>
            <li class="cFLiMenu" role="presentation">
              <%= link_to 'Users', fashion_trendz_users_path, target: '_self', title: "fahon trendz user list", rel: 'help' %>
            </li>
    <% end %>     
  <% else %>
            <li class="cFLiMenu" role="presentation">
              <%= link_to 'Login', login_path, target: '_self', title: "Fashion trendz  log in", rel: 'help' %>
            </li> 
            <li class="cFLiMenu" role="presentation ">
              <%= link_to 'Sign Up', signup_path, target: '_self', title: "Fashion trendz sign up", rel: 'help' %>
            </li>                             
  <% end %>
          </ul>
  <!-- end of iSecFootMenu -->        
        </section>

        <section class="iSecFootMenu2 col-xs-6 col-sm-5 col-md-5 col-lg-5">
          <ul class="cFLiMenu">
            <li class="dropdown cFLiMenu cFLiDrop" role="presentation">               
              <%= link_to '#', target: '_self', title: "Fashion trendz blog home page", rel: 'help',  class: "dropdown-toggle", :'data-toggle' => "dropdown", role: "button", :'aria-haspopup' => 'true', :'aria-expanded' => 'false' do %>
                <span class="caret">Guide</span>
              <% end %>       
              <ul class="dropdown-menu">
                <li class="">
                  <%= link_to "Advice", '#', target: '_self', title: "latest Fashion trendz fashion advice", rel: 'help' %>
                </li>
                <li class="">
                  <%= link_to "Guide", guide_path, target: '_self', title: "latest Fashion trendz cloting & accessories guide", rel: 'help' %>
                </li>
                <li class="">
                  <%= link_to "Bios", bios_path, target: '_self', title: "latest Fashion trendz fashion world biographies", rel: 'help' %>
                </li>
              </ul>
            </li>
            <li class="dropdown cFLiMenu cFLiDrop2" role="presentation">
              <%= link_to '#', target: '_self', title: "Fashion trendz info", rel: 'help',  class: "dropdown-toggle", :'data-toggle' => "dropdown", role: "button", :'aria-haspopup' => 'true', :'aria-expanded' => 'false' do %>
                <span class="caret">Info</span>
              <% end %>
              <ul class="dropdown-menu">
                <li class="cFLiMenu">
                  <%= link_to "Contact", contact_path, target: '_self', title: "latest Fashion trendz contact information", rel: 'help'  %>
                </li>
                <li class="cFLiMenu">
                  <%= link_to "About", about_path, target: '_self', title: "latest Fashion trendz website/blog information", rel: 'help'  %>
                </li> 
              </ul>
            </li>
          </ul>
  <!-- end of iSecFootMenu2 -->
        </section>  
</div> 

<!-- cFooterMenu -->
    </div>

<!-- for bootstrap -->
</div>
<!-- for bootstrap -->
</div>
</footer>