<!DOCTYPE html>
<html>
<head>
  <title><%= latest_fashion_trendz_blog_title(yield(:title)) %> </title>

 <!-- , 'data-turbolinks-track' => true --> 
  <%= stylesheet_link_tag 'application', media: 'all' %>

 <!-- , 'data-turbolinks-track' => true --> 
  <%= javascript_include_tag 'application' %>
  
  <%= csrf_meta_tags %>

<!-- for ie > 9v  -->
  <%= render 'layouts/ie_shim' %>
<!-- for ie > 9v  -->

<!-- for compatibility with html5Mode in $locationProvider -->
	<base href="/">
</head>
<body>

		<%= render 'layouts/latest_fashion_trendz_blog_header' %>

<!-- including angular -->
		<div id="iPageWrap"  ng-app="trendzDisplay">
	<!--rest of page-->
			<div id="iPageCont">

<!-- flash message & alerts -->
				<div class='container-fluid'>
					<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-offset-3">
						<% flash.each do |msg_type, msg| %>
							<%= content_tag(:div, msg, class: "alert alert-#{msg_type} cDErr") %>
						<% end %>
					</div>
				</div>			

				<%= yield %>
			</div>
		</div>
		
		<%= render 'layouts/latest_fashion_trendz_blog_footer' %>

<!-- RAILS DEBUGG -->
		<%= debug(params) if Rails.env.development? %>
	<!-- <br> for until i fix footer layout to break for debug -->

</body>
</html>
